[2019-08-09 15:49] Huanle commented on #19
@lucacozzuto yes, for sure, especially for basecalling and reads mapping.

[2019-08-09 15:51] lucacozzuto commented on #19
So we have to rethink about using custom parameters for mapping to transcriptome or genome? We can get rid of this difference and give the full power to the user...

[2019-08-09 17:07] Huanle commented on #17
@lucacozzuto
from bam, we would love to get:

- expression level quantification, similar to but not equal to the number of reads mapped to a specific genomic feature (if it is RNAseq data). I recommend [NanoCount](https://github.com/a-slide/NanoCount)  for this purpose.
- features/metrics used for predicting base modification, for this i will share with you a shell script that include all downstre

[2019-08-09 17:08] Huanle commented on #14
I sent you the gff file that you need for this test through email.

[2019-08-12 13:18] lucacozzuto commented on #14
thanks!

[2019-08-13 09:46] lucacozzuto commented on #14
PS: I would need fast5 files for testing.

[2019-08-13 09:48] lucacozzuto commented on #9
@Huanle @enovoa @lpryszcz I would need some examples for introducing the step of demultiplexing (at least for gDNA). Can you send it to me, please?

[2019-08-13 14:00] lucacozzuto commented on #19
I added this possibility in https://github.com/biocorecrg/master_of_pores/commit/d3db843d9b492807e39ed07f3dd21100441bcd1b

[2019-08-13 14:13] lpryszcz commented on #9
Hi @lucacozzuto , you can find the commands with some more examples and some parameters explained in details in the [doc](https://docs.google.com/document/d/1fU544ChS7yaZvMtQMo23djOW4Ux-RNIqxptTjbiszQI/edit#heading=h.o2qeaj66jkho). In brief:
[code]

[2019-08-13 14:20] lucacozzuto commented on #9
Thanks @lpryszcz! I would need some test case (fast5 files) and the dna_r9.4.1_450bps_hac.cfg  file... I would also need the command line for porechop if we want to give this possibility... Maybe is easier if we meet for 5 minutes... what do you think?

[2019-08-13 15:23] lucacozzuto commented on #9
Ok we are in a philosophical problem :) I would like to keep independent and separate the two processes base calling and demultiplexing... so I would like to run guppy twice one for basecalling and one for demultiplexing... is this possible? In this way I can allow any kind of combination between albacore / porechop/ guppy and the custom tool for RNA

[2019-08-14 21:04] Huanle commented on #14
Hi Luca,
You might have missed the email i sent. The path to the fast5 files is '/no_backup_isis/enovoa/data/ont/rt_cDNA/cDNAB120905_both_good' .
Let me know if you can access it.
Thanks.

[2019-08-22 13:43] lucacozzuto commented on #21
mmm which image are you using (the latest is 0.4) and from which node?

[2019-08-22 13:45] lucacozzuto commented on #21
I tried both nextflow node and ant-login and I had no problem...

[2019-08-22 13:52] lucacozzuto commented on #22
I'll keep improvements for later :)

[2019-08-22 13:53] JMiguelRamirez commented on #21
Yes, I am using 0.4, and I was running it in the ant-login, because I can't even do qlogin, so the problem is mine, I will talk to IT.

Thanks and sorry for the inconvenience,

[2019-08-22 16:02] lucacozzuto commented on #23
done!

[2019-08-23 15:00] lucacozzuto commented on #9
Hi, please remember to send me examples and the command line for porechop

[2019-08-23 16:21] Huanle commented on #9
@obegik can you forward the ones you used for this practice?

[2019-08-23 21:49] obegik commented on #9
I used the default (75%) and 50% threshold.The following is the commond line for pore chop

porechop -i input_reads.fastq.gz -b output_dir --barcode_threshold 50

Oguzhan
On 23 Aug 2019, 19:21 +0300, WHUANLEE <notifications@github.com>, wrote:

[2019-08-26 10:09] lucacozzuto commented on #9
Hi @lpryszcz I found that without "--require_barcodes_both_ends" you don't have any demultiplexing... is this normal?

[2019-08-26 10:10] obegik commented on #9
It is normal if you are using our test data because it does not have
barcodes in both ends.

On Mon, 26 Aug 2019, 13:09 Luca Cozzuto, <notifications@github.com> wrote:

[2019-08-26 10:11] lucacozzuto commented on #12
Hi @lpryszcz I see that guppy ha these two opions:
  --gpu_runners_per_device arg      Number of runners per GPU device.
  --cpu_threads_per_caller arg      Number of CPU worker threads per
                                    basecaller.

Maybe gpu_runners_per_device instead of cpu_threads_per_caller has to be used when we have GPU support?

[2019-08-26 10:37] lucacozzuto commented on #9
thanks! now I miss a dataset where I can find demultiplexed reads... do you have one?

[2019-08-26 10:38] obegik commented on #9
You want the de multiplexed fastq files, is that correct?

On Mon, 26 Aug 2019, 13:37 Luca Cozzuto, <notifications@github.com> wrote:

[2019-08-26 10:39] lucacozzuto commented on #9
no; I want fast5 or multifast5 that can be demultiplexed with a kit...

[2019-08-26 10:42] obegik commented on #9
But you already used it and found that it does not demultiplex anything
with "require both barcode ends". Right?

On Mon, 26 Aug 2019, 13:40 Luca Cozzuto, <notifications@github.com> wrote:

[2019-08-26 10:50] lucacozzuto commented on #9
without require_bot it does'nt demultiplex. With you have only unclassified

[2019-08-27 14:22] lucacozzuto commented on #9
Hi, I'm trying porechop. How can I specify the adapter kit used? I got this:
  Error: no barcodes were found, so Porechop cannot perform barcode demultiplexing

[2019-08-27 14:51] lucacozzuto commented on #22
Hi, I see that graphmap2 allows splice mapping like minimap2... so for consistency I would replace graphmap with graphmap2. What do you think? Can you provide me the command line?

[2019-08-27 15:00] JMiguelRamirez commented on #22
Yes, it would make more sense to have graphmap2, and the old commands are the same.

Against transcriptome:
`graphmap2 align -r ref.fa -d reads.U2T.fastq -o out.sam  `
Against genome (splice mapping):
`graphmap2 align -x rnaseq -r ref.fa -d reads.U2T.fastq -o out.sam`

Let me know if you need anything else.

Thanks,

[2019-08-27 17:41] obegik commented on #9
Hi,

Are you testing pore chop with your fastq reads or fast5 ? In the case of fastq reads, you don’t need to specify the adapter kit.

Oguzhan
On 27 Aug 2019, 17:22 +0300, Luca Cozzuto <notifications@github.com>, wrote:

[2019-08-28 09:11] lucacozzuto opened #24 "Parallelization of basecalling and stats"
Hi all,
I see that the guppy basecalling on our example is very slow (more than 6 hours per run with 8 CPUs). So I'm thinking to parallelize it by running on chunks (one chunk is one file). The problem will be that I'll end up with one stats file per chunk and not per run. Do you know a way to join the stats?

thanks

Luca

[2019-08-28 09:16] enovoa commented on #24
Thats why GPU is highly recommended for base-calling. I think that further
parallelization is prob not needed, the solution is using GPU, rather than
splitting into further chunks I think.

On Wed, Aug 28, 2019, 11:11 AM Luca Cozzuto <notifications@github.com>
wrote:

[2019-08-28 09:17] lucacozzuto commented on #24
I don't know because we have 300 files so the basecalling can be speed up up to 300X. Without GPU. The only problem is joining the stats.

[2019-08-28 14:40] lucacozzuto commented on #24
This program seems to do what we want... https://github.com/wdecoster/nanostat

[2019-08-29 09:55] lucacozzuto commented on #24
Added this feature in https://github.com/biocorecrg/master_of_pores/commit/bcf65d682fc00f1d83cb008c6e267e0754af873b

[2019-08-29 09:55] #24 closed

[2019-08-29 09:55] lucacozzuto commented on #22
Added in the docker version 0.5 and in  https://github.com/biocorecrg/master_of_pores/commit/bcf65d682fc00f1d83cb008c6e267e0754af873b

[2019-08-29 09:56] lucacozzuto commented on #12
please can we check the pipeline in GPU mode? @lpryszcz

[2019-08-29 09:57] lucacozzuto commented on #9
Hi, porechop fails if no barcode is found. Can you send me an example for testing it (a link on the cluster), please?

[2019-08-29 09:58] lucacozzuto commented on #14
Duplicate of https://github.com/biocorecrg/master_of_pores/issues/17

[2019-08-29 11:31] enovoa commented on #17
- PolyA selection: tailfindr and nanopolish
https://github.com/adnaniazi/tailfindr
https://github.com/jts/nanopolish
- Gene counting: NanoCount & HTSeq
https://github.com/a-slide/NanoCount
https://htseq.readthedocs.io/en/release_0.11.1/
- RNA modification prediction: Tombo & EpiNano
https://github.com/enovoa/EpiNano
https://github.com/nanoporetech/tombo

[2019-08-29 11:39] lucacozzuto commented on #17
I just miss tailfindr. I'll add to the docker

[2019-08-29 11:42] lucacozzuto commented on #17
I made three new issues, each one for a pipeline and close this.

[2019-08-29 11:53] enovoa commented on #30
This will be the latest to do. Not a priority for us atm.

In any case, the software to detect DNA modifications in ONT datasets are:
- Tombo (same software as for RNA mods)
- NanoMod: https://github.com/WGLab/NanoMod <https://github.com/WGLab/NanoMod>
- mCaller: https://github.com/al-mcintyre/mCaller <https://github.com/al-mcintyre/mCaller>

[2019-08-29 17:40] lucacozzuto commented on #31
quite problematic installation... I got this error
configure: error: The version of hdf5 installed on your system is not sufficient. Please ensure that at least version 1.8.13 is installed
 any help?

[2019-08-30 09:08] enovoa commented on #31
@JMiguelRamirez installed it and used it. He can advise you if he had any problems as such during the installation?

[2019-08-30 09:09] lucacozzuto commented on #31
Yes please. I think it is a problem of centOS and its libraries... Maybe I should use another OS in the docker image

[2019-08-30 09:22] JMiguelRamirez commented on #31
Yes, I have been using tailfindr without problems, but my version of HDF5 is 1.10.4 (https://www.hdfgroup.org/downloads/), maybe we could add a more recent version of hdf5 to the docker? With this last version, everything should work properly in centOS. Let me know if adding this is feasible or if you need any further help. Thanks

[2019-08-30 15:10] lucacozzuto commented on #12
It was really a pain, but I managed... Added here https://github.com/biocorecrg/master_of_pores/commit/83bc42883cc94ad1fd2fa7870300960eaa81975a

[2019-08-30 15:10] lucacozzuto commented on #31
It was really a pain, but I managed... Added here https://github.com/biocorecrg/master_of_pores/commit/83bc42883cc94ad1fd2fa7870300960eaa81975a

[2019-09-01 09:43] Huanle commented on #29
I will have a try of the program and share with you the commands.

[2019-09-01 10:56] Huanle commented on #28
RNA modification detection using tombo
[code]

[2019-09-02 12:17] JMiguelRamirez commented on #28
Tailfindr works for both single fast5 and multifast5, and the R code is:
`
find_tails(fast5_dir = bascalled_fast5s_directory , save_dir = output_directory, csv_filename = output_file_name, num_cores = x)
`
It just needs as input the base-called fast5s

[2019-09-02 15:27] obegik commented on #9
Hi Luca,

Sorry I was on holidays and did not have access to internet for sometime. I done understand the situation where the barcode is not found. I use “unclassified.fastq” file from the guppy output to perform pore chop. How do you perform it ?

Oguzhan
On 29 Aug 2019, 12:57 +0300, Luca Cozzuto <notifications@github.com>, wrote:

[2019-09-02 15:56] lucacozzuto commented on #9
Hi,

I need examples where we found barcodes. With porechop if no barcodes are
found it simply exit with an error. Do we have data with barcodes?

Il lun 2 set 2019, 17:27 Oguzhan Begik <notifications@github.com> ha
scritto:

[2019-09-02 15:59] obegik commented on #9
Hi Luca,

The data I gave you before, which is the run with ID cDNAB120905 should have the barcodes. After basecalling with guppy, you will have a fasta file that will have “unclassified” reads. You can use this file to run the pore chop. If you cannot produce this, I can place the unclassified.fastq file to the cluster.

Oguzhan
On 2 Sep 2019, 18:56 +0300, Luca Cozzuto <notifications@github.com>,

[2019-09-02 16:03] lucacozzuto commented on #9
I don't want to make a two step demultiplexing (we are not yet giving this
possibility). So please send me these files.

Thanks

Il lun 2 set 2019, 17:59 Oguzhan Begik <notifications@github.com> ha
scritto:

[2019-09-04 08:18] obegik commented on #9
HI Luca,

I placed the unclassified.fq.gz file to the public folder on cluster. The location is below:

/users/enovoa/novoalab_public/porechop_input/

Cheers,
Oguzhan
On 2 Sep 2019, 18:03 +0200, Luca Cozzuto <notifications@github.com>, wrote:

[2019-09-04 14:57] lucacozzuto commented on #9
Hi, the pipelines need fast5 files. We don't start from fastqc... can you send me the original fast5?

[2019-09-04 15:01] obegik commented on #9
Hi Luca,

That's actually what I was referring to before. I already shared with you
the fast5 files (the ones you use for Guppy)

On Wed, 4 Sep 2019, 16:57 Luca Cozzuto, <notifications@github.com> wrote:

[2019-09-04 15:03] lucacozzuto commented on #9
can you share them again? Maybe I lost some passage...

[2019-09-04 15:08] obegik commented on #9
/no_backup_isis/enovoa/data/ont/rt_cDNA/cDNAB120905_both_good

On 4 Sep 2019, 17:03 +0200, Luca Cozzuto <notifications@github.com>, wrote:

[2019-09-04 15:11] lucacozzuto commented on #9
ok the reference is?

[2019-09-04 15:13] lucacozzuto commented on #9
which kit is? How can I specify it in the porechop command line?

[2019-09-04 15:15] obegik commented on #9
The reference is attached. The kit used is DCS109- EXP-NBD104
On 4 Sep 2019, 17:13 +0200, Luca Cozzuto <notifications@github.com>, wrote:

[2019-09-04 15:16] lucacozzuto commented on #9
attached where? : )
Is curlcake_constructs?

[2019-09-04 15:18] lucacozzuto commented on #9
wait you say in a previous post that porechop doesn't need the kit if you start from fast5 files (we use either guppy or albacore for basecalling) so I can skip the kit.

[2019-09-04 15:18] obegik commented on #9
Sorry here it is
[yeast_rRNA_ref.txt](https://github.com/biocorecrg/master_of_pores/files/3575235/yeast_rRNA_ref.txt)

[2019-09-04 15:20] obegik commented on #9
In the case of fastq reads, you don’t need to specify the adapter kit.For fast5, I guess you might need to specify, I don’t know. I always use pore chop with fast

Oguzhan Begik, Ph.D. Student
Epitranscriptomics and RNA Dynamics Lab
Gene Regulation,Stem Cells and Cancer Department
Centre for Genomic Regulation
Carrer del Dr. Aiguader, 88 PRBB Building
Phone: +34-0-698-85-13-08
On 4 Sep 2019, 17:18

[2019-09-04 15:22] lucacozzuto commented on #9
Ok many thanks! I'll close this (and open a new one if I find some issue)

[2019-09-04 15:51] lucacozzuto commented on #12
Please let me know if the GPU supports work :)

[2019-09-04 15:59] lucacozzuto commented on #28
So let's try to explain this a bit more...
the pipeline has 5 tools: tombo, epinano, minimap, nanopolish and tailfindr.

RNA modifications:
tombo and epinano are equivalent? Should I give the possibility to choose?

polyA size:
minimap + nanopolish and tailfindr are equivalent?  Should I give the possibility to choose?

[2019-09-04 16:03] enovoa commented on #28
Not sure why minimap is part of this?
Yes, the user should be able to choose if they want one, the other or both. They are supposedly equivalent, but they do not give same results. You can choose to run just one by default.

[2019-09-04 16:05] lucacozzuto commented on #28
@enovoa  look at @Huanle comment :) PS: thanks to that quick chat out of the metro the pipeline is super parallelized now and quite fast

[2019-09-04 16:09] enovoa commented on #28
Great to hear! :)

[2019-09-05 09:15] lucacozzuto commented on #28
please provide an example for this. I would need KO and WT files for testing it

[2019-09-05 09:26] enovoa commented on #28
Not sure what is “this” (cant see this message in the github for some reason).

In any case, you can find both yeast WT and KO here:
/no_backup_isis/enovoa/data/ont/m6a_yeast_mRNA

Three biological replicates for each condition, run names are labeled depending on whether they are KO or WT.

Thx!

[2019-09-05 09:27] lucacozzuto commented on #28
Yep, I removed the comment because I found the files :)

[2019-09-06 12:39] lucacozzuto commented on #28
@Huanle I managed to run tombo's resquiggling but I had to add fastq information to original fast5 files... Now I got something like this:
[code]

[2019-09-06 14:55] lucacozzuto commented on #28
Uff... tombo is painful. After the annotation of fast5 files with fastq files called by guppy I tried to do the resquiggling and I got this:
[code]
Any idea?

[2019-09-06 16:13] lucacozzuto commented on #28
Using another version fixed it, but I still don't get an index... should it be a new file or what?

[2019-09-07 18:46] Huanle commented on #28
@luca,
- to speed tombo up: you can run the resquiggle algorithm on multiple sub-fast5 folders parallelly. otherwisem it will be super-slow. I think it is better to organize input files by putting 3000-4000 fast5 files in each fast5_dir.
- which data giave you the above resquiggling information, i mean the one with bad resquiggling rate? it does not surprise me because resquiggling is still chaell

[2019-09-07 18:48] Huanle commented on #28
i can share with you Sk1 genome. But i don't think it will make obvious difference. btw, which yeast sample is this?

[2019-09-07 18:57] lucacozzuto commented on #28
I was doing that (parallelizing 4k reads) but the results are quite bad. Can you give me a good sample you already analyzed?

[2019-09-09 08:44] lucacozzuto commented on #35
Yes, good idea. I'll add them

[2019-09-13 12:48] lucacozzuto commented on #28
Hi, I miss the epinano command line. Can you send it to me, please?

[2019-09-16 10:50] lucacozzuto commented on #37
Added in
https://github.com/biocorecrg/master_of_pores/commit/6ae93c0da01b5a2ba7ce5a8f42aaa7ac566c09f1

[2019-09-18 14:01] lucacozzuto commented on #28
We solved the problem with Tombo thanks to their developers (https://github.com/nanoporetech/tombo/issues/210#issuecomment-532271278). I close this issue and open a new one for EpiNano. Fixed in https://github.com/biocorecrg/master_of_pores/commit/feb8d4b211844871b79e829cc88e3ff3ed9de7d2

[2019-09-19 12:40] lucacozzuto commented on #32
Well, since no one is helping I just launched the test on my macbook + docker and it worked :)

[2019-09-19 12:43] enovoa commented on #32
Hi Luca,

Morghan has tested it and I think Oguzhan is giving it a go (cc’ed both), but the person who is testing it is Huanle, who is now on holiday.

@morghan and @oguzhan - can you please share your feedback with Luca? Is there any feature missing, parameter that you would have liked to tune and couldn’t, etc?

Thanks,
Eva

[2019-09-20 07:53] enovoa commented on #32
Hi Luca,

Sorry yes I did test it but it was a couple of months ago so I guess much has changed. I will give it a go next week and share my feedback with you :)

Thanks,

Morghan

________________________________
From: Eva Maria Novoa <evamaria.novoa@gmail.com>
Sent: 19 September 2019 14:43:45
To: biocorecrg/master_of_pores
Cc: biocorecrg/master_of_pores; Subscribed; Morghan Lucas; Oguzhan Begik
S

[2019-09-20 08:06] lucacozzuto commented on #32
The new version of NF is amazing. If I'll have time I'll try to re-write
the pipeline in DSL-2...

Il ven 20 set 2019, 09:53 Eva Novoa <notifications@github.com> ha scritto:

[2019-09-20 08:21] lucacozzuto commented on #32
Well, better to wait. The stable release will be done on January.

Il ven 20 set 2019, 09:53 Eva Novoa <notifications@github.com> ha scritto:

[2019-09-20 09:51] lucacozzuto commented on #39
Done at https://github.com/biocorecrg/master_of_pores/commit/7fd8a47a0636086aea0ecfa22413b126a472dea4

[2019-09-20 10:48] enovoa commented on #12
@obegik

[2019-10-03 14:55] lpryszcz commented on #12
solved https://medium.com/@lpryszcz/containers-with-cuda-support-5467f393649f

[2019-10-05 11:00] lucacozzuto commented on #41
I agree. I think people developing tower are thinking about ut

[2019-10-07 08:41] Huanle commented on #41
don't all unix-systems have mail command?

[2019-10-07 09:10] toniher commented on #41
Not all systems have it. I actually encountered this problem running the pipeline with AWS Batch. Of course, I could install mail in the actual nodes I used, but I think it's better not to presume it exists...

[2019-10-07 09:51] toniher commented on #40
Development in [branch aws](https://github.com/biocorecrg/master_of_pores/tree/aws) ...

[2019-10-07 13:08] Huanle commented on #41
@toniher good to know it. thanks.

[2019-10-11 09:37] lucacozzuto opened #1 "Include NanoPlot in multiQC"
I'm wondering which plot should be embedded in multiQC

[2019-10-11 09:45] enovoa opened #2 "include nanocomp in multiQC report"
If 2 datasets are given as input, it is useful to run nanocomp, which gives comparative metric outputs of the two (or more) runs:

[2019-10-11 09:45] enovoa commented on #2
https://github.com/wdecoster/nanocomp

[2019-10-11 09:47] enovoa opened #3 "update README"
I would include a section of step by step installation to run masterofpores (i actually tried to include that as well in the draft by looking at the readme, but it was unclear which step is needed first, e.g. steps to install nextflow, docker, singularity, then to convert docker to singularity, to clone the repo and finally to run the workflow :)

[2019-10-11 09:49] lucacozzuto commented on #2
We don't allow two datasets as input since is a preprocessing. We can think to include this in other modules when we compare two conditions

[2019-10-11 09:52] lucacozzuto commented on #3
Yep you are right! Basically we need only nextflow + docker or singularity. I think you don't even need to clone the repository since NF should pull the github repo for you. I'll check this option and add the procedure in the readme.

[2019-10-11 09:58] lucacozzuto opened #4 "move preprocessing to be main"
Allows main.nf to be the only executable

[2019-10-11 10:48] lucacozzuto commented on #4
Done at https://github.com/biocorecrg/master_of_pores/commit/848c592b3a02ffe24fd4217c70ecbbc7df4a0b7d

[2019-10-11 10:48] #4 closed, assigned to lucacozzuto

[2019-10-11 10:50] lucacozzuto commented on #3
I made the pipeline really easy to be used. You just need either Docker or Singularity and nextflow.
Then you can launch it simply like this:

nextflow run biocorecrg/master_of_pores -with-singularity {PARAMS}

[2019-10-11 10:50] #3 closed, assigned to nobody

[2019-10-11 10:50] #2 closed, assigned to nobody

[2019-10-16 11:31] lucacozzuto opened #5 "look at environmental variable for containers"
We have two images one for CPU and one for GPU differing for an environmental variable needed by Guppy. We should investigate how to pass this at run time

[2019-10-16 11:36] lucacozzuto commented on #1
done

[2019-10-16 11:36] #1 closed, assigned to lucacozzuto

[2019-10-24 14:03] lucacozzuto commented on #5
not possible

[2019-10-24 14:03] #5 closed, assigned to lucacozzuto

[2019-10-28 10:51] lucacozzuto opened #6 "singularity problems"
Sometimes you can get the following error:
[code]

[2019-10-28 10:51] lucacozzuto commented on #6
It seems to be a known bug. Upgrading to at least singularity 3.2.1 will fix it.

[2019-10-28 10:51] #6 closed, assigned to nobody

[2019-10-31 10:20] ADelgadoT opened #7 "Running Promethion samples"
When running PromethION samples (1854 multi fast5), the pipeline stops and returns the error 'No space available on disk'. After some testing, I believe this is due the temporary files in ./work directory. If you delete them, the pipeline can be executed again.
However, as the temporary files are gone, MOP with --resume flag starts the analysis from the beginning and does not catch any of the prev

[2019-10-31 11:39] lucacozzuto commented on #7
Yes, this is how it works. Temporary data are stored within the work directory. So you might need more disk space for your analysis.

[2019-10-31 11:39] #7 closed, assigned to nobody

[2019-10-31 12:59] enovoa opened #8 "deleting temporary files after finishing run"
Is there any flag to add to the pipeline to force it to remove the temporary files (instead of doing it manually) once the run is finished and has been completed successfully? Thanks!

[2019-10-31 13:08] lucacozzuto commented on #8
As far I know no... but I'll investigate.

[2019-12-12 12:36] lpryszcz opened #9 "--num_callers options for speeding guppy v3.4.1"
Hi @lucacozzuto , it'd be good to add and option `--num_callers` as this can speed up guppy 2x. For more have a loot at https://twitter.com/lpryszcz/status/1204854476949139463
Default one in v3.4.1 `--num_callers 1` uses little vRAM (1.2GB) but is slower ~2x slower than `--num_callers 4` that uses only 3.2GB vRAM. There is no benefit of using more than `--num_callers 4` on RTX2080 Ti.

[2019-12-12 12:56] lucacozzuto commented on #9
it is already implemented... it is connected to cpus value in the config file... I see that for GPU is absent (so it is 1) but we can add it easily (the problem is that can be misleading since cpu, gpu... :/ )

[2019-12-13 11:57] lucacozzuto commented on #9
Added

[2019-12-13 11:57] #9 closed, assigned to lucacozzuto

[2019-12-13 11:58] lucacozzuto opened #10 "Add read count"
Add count with NanoCount if mapping to the transcritome and Ht-Seq if mapping to the genome / annotation

[2019-12-13 11:58] lucacozzuto commented on #10
Done at https://github.com/biocorecrg/master_of_pores/commit/0d3c7c14cbc8c08817c65cff75745718133167e9

[2019-12-13 15:13] #10 closed, assigned to lucacozzuto

[2019-12-16 15:20] lucacozzuto opened #11 "make count process optional"
Count can be optional

[2019-12-16 15:21] lucacozzuto opened #12 "add deeplexicon models"
there are more models

[2019-12-16 15:41] lucacozzuto commented on #11
Done at https://github.com/biocorecrg/master_of_pores/commit/c4bb0818d3dadc082fc6d2f9c2e52b3ca8a07068

[2019-12-16 15:41] #11 closed, assigned to lucacozzuto

[2019-12-16 15:45] lucacozzuto commented on #12
Added two more at https://github.com/biocorecrg/master_of_pores/commit/29061c504833ac947050399eff896d6bca521f61

[2019-12-16 15:45] #12 closed, assigned to lucacozzuto

[2019-12-16 16:44] enovoa opened #13 "output.md doesnt appear in docs"
Generated output.md but doesnt appear in documentation page as fourth tab (not sure how to fix).

[2019-12-16 16:51] lucacozzuto commented on #13
There was some extra character I think...

[2019-12-16 16:51] #13 closed, assigned to nobody

[2019-12-17 15:18] lucacozzuto opened #14 "homogenise the output when demultiplexed"
Ideally we should have a similar output so that can be used by other modules.

[2019-12-20 11:11] lucacozzuto opened #15 "combining results from tailfindr and nanopolish"
Please can help me on which is the best way to combine the results?

[2019-12-24 16:50] enovoa commented on #15
@JMiguelRamirez can you please advice Luca and/or provide script to do so? (i.e. the tailfindr vs nanopolish script that was used to compare the results? Thanks!

[2019-12-24 16:54] enovoa opened #16 "finish docs running.md"
These two sections need to be finished to include how to use them.

## NanoTail
Data produced by NanoPreprocess are needed for this module.

Finish writing usage

## NanoMod
Data produced by NanoPreprocess are needed for this module.

Finish writing usage

[2019-12-25 18:54] JMiguelRamirez commented on #15
Hi Luca, what do we exactly need? Is it just combining the results from
tailfindr and nanopolish or also comparing them and some downstream
analyses?

I am attaching my code in R for comparing both approaches, executing it outputs a directory with many plots. It compares the outputs of each
software, but it also compares three replicates of S. cerevisiae WT and
three of ime4∆ looking for different

[2019-12-25 19:00] lucacozzuto commented on #15
Hi!
For now I would need just something for comparing the results of each
program. Instead for comparing tombo and nanopolish I would need comparison
of sample Vs KO between replicates.

Luca

Il mer 25 dic 2019, 19:54 José Miguel Ramírez <notifications@github.com> ha
scritto:

[2020-01-07 18:17] enovoa opened #17 "how can we see which models are available within the demultiplexing algorithm?"
I have tried to dig across the folders of master of pores and cannot find where they are. can you pls help? thanks!

[2020-01-07 18:47] lucacozzuto commented on #17
Likely you are not looking at review branch. Inside NanoProcessing you have
a folder with models

Il mar 7 gen 2020, 19:17 Eva Novoa <notifications@github.com> ha scritto:

[2020-01-08 01:18] novoalabmember commented on #17
Thanks, i was looking into the wrong branch. which model is the default?

[2020-01-08 06:54] lucacozzuto commented on #17
The one written in the params.config

L

Il mer 8 gen 2020, 02:18 novoalab <notifications@github.com> ha scritto:

[2020-01-08 08:29] Huanle commented on #17
@enovoa @novoalab, model 030 is the default one, which is also the most reliable one so far.

[2020-01-08 10:11] #17 closed, assigned to nobody

[2020-01-08 16:35] novoalabmember opened #18 "running test run with different deeplexicon models"
Hi Luca,
Can we run a quick test using the same data (e.g. 10reads) of multiplexed data, and try to use the same exact parameters config file, but just change the specific model used by deeplexicon? (e.g. use model030 in one case and then the final-20).
It seems that one of the models (final-20) gives us errors when we try to demultiplex our reads in the cluster, but we don't get errors when using

[2020-01-08 16:51] lucacozzuto commented on #18
Hi Eva,
we can run any test you want...
We have three models now:
pAmps-final-actrun_newdata_nanopore_UResNet20v2_model.030.h5
resnet20-final.h5
pAmps-rep2-4-train1_newdata_nanopore_UResNet20v2_model.039.h5

which one do you want we test?
Luca

[2020-01-08 17:08] enovoa commented on #18
If we can do the comparison of the 3 that will be the easiest. Do you have some test data? Just one file of 4000 reads is more than enough for the test. Thanks!

Get Outlook for Android<https://aka.ms/ghei36>
________________________________
From: Luca Cozzuto <notifications@github.com>
Sent: Wednesday, January 8, 2020 5:51:16 PM
To: biocorecrg/master_of_pores <master_of_pores@noreply.github.com>

[2020-01-08 17:39] lucacozzuto commented on #18
I got an error with this model: pAmps-rep2-4-train1_newdata_nanopore_UResNet20v2_model.039.h5

[code]

not sure why

[2020-01-08 18:04] lucacozzuto commented on #18
Same error with resnet20-final.h5... Maybe we should open an issue here?
https://github.com/Psy-Fer/deeplexicon

[2020-01-08 20:08] novoalabmember commented on #18
Yes we should. Can you place this one in the Deeplexicon one?
We were having issues as well but wanted to test on MasterOfPores to see if the issue was something from our environment, but it seems it is from the model’s environment.
Can you place it there with the verbose?
Thanks so much,
Eva

On 8 Jan 2020, at 7:04 pm, Luca Cozzuto <notifications@github.com<mailto:notifications@github.com>> wrote

[2020-01-09 11:35] lucacozzuto commented on #18
I fixed it by creating a new docker with python 3.7 and the exact version of the packages indicated (newer won't work). https://github.com/biocorecrg/master_of_pores/commit/1d938866fbfd2eb5db21582ec71992b653c3e029

[2020-01-09 11:35] #18 closed, assigned to nobody

[2020-01-09 12:00] novoalabmember commented on #18
So have you launched the pipeline again with the dockerfile that uses python 3.7 with the 3 models? thanks!

On 9 Jan 2020, at 12:35 pm, Luca Cozzuto <notifications@github.com<mailto:notifications@github.com>> wrote:

I fixed it by creating a new docker with python 3.7 and the exact version of the packages indicated (newer won't work). 1d93886<https://github.com/biocorecrg/master_of_pores/commit/1

[2020-01-09 12:04] lucacozzuto commented on #18
Yes I made a new docker image only for demultiplexing (I have to add to the paper) with all the requirements. I tested the two models.

[2020-01-09 16:34] ADelgadoT opened #19 "NanoPreprocessing counting genes/transcripts option"
It is possible that the user wants to map against the genome and doesn't care at all about the gene counts. Currently, if the ref_type == genome, an annotation file (GTF) is required by the pipeline as it is needed for counting genes and not always the annotation file is available.

Could it be possible to leave the user decide if he/she wants the counts? In this way, users that only want to map t

[2020-01-09 16:41] lucacozzuto commented on #15
done

[2020-01-09 16:41] #15 closed, assigned to lpryszcz, lucacozzuto, JMiguelRamirez, obegik

[2020-01-09 16:43] lucacozzuto commented on #19
This was implemented but not visible in the params.config. It is the option **counter** that can be YES or NO or OFF or EMPTY (to skip the counts). I added that option in https://github.com/biocorecrg/master_of_pores/commit/9eea86ae1867b2eb470ae8e8bc6361e127a083da

[2020-01-09 16:43] #19 closed, assigned to nobody

[2020-01-09 22:52] lucacozzuto commented on #14
The main problem is to demultiplex also the fast5 files...

[2020-01-09 22:55] enovoa commented on #14
i think huanle might have a script that does this?

[2020-01-15 00:55] enovoa opened #20 "incorporate nanocompore in nanomod"
Documentation: https://nanocompore.rna.rocks
Github repo: https://github.com/tleonardi/nanocompore

The first two steps needed prior to running nanocompore, which are:
1) Realign the raw signal-level data to the kmers of the reference with Nanopolish
2) Collapse Nanopolish output by kmer using NanopolishComp

Are already written in the form of nextflow workflow
https://github.com/tleonardi/nanocom

[2020-01-15 00:57] enovoa opened #21 "incorporate differr into nanomod"
Github repo: https://github.com/bartongroup/Simpson_Barton_Nanopore_1/tree/master/pipeline/differential_error_rate_pipeline/scripts/differr

There is a Snakefile available but not sure it will be useful: https://github.com/bartongroup/Simpson_Barton_Nanopore_1/tree/master/pipeline/differential_error_rate_pipeline

[2020-01-15 01:05] enovoa opened #22 "pipeline workflow image missing in the README of the review branch"

[2020-01-15 01:08] enovoa opened #23 "edit description of master of pores"
CurrentlY: Nextflow pipeline for analysis of Nanopore reads (from RNA/cDNA/DNA)

should be: Nextflow pipeline for analysis of Nanopore direct RNA reads

[2020-01-15 08:49] lucacozzuto commented on #23
Hi Eva, I thinnk you are editing in the wrong location. The current documentation is in the master (docs folder)

[2020-01-15 08:49] #23 closed, assigned to nobody

[2020-01-15 08:49] lucacozzuto commented on #22
the documentation is in the master branch

[2020-01-15 08:49] #22 closed, assigned to nobody

[2020-01-15 08:58] enovoa commented on #22
true sorry! i get confused because the final code is in the review branch but the doc is the master branch?

[2020-01-15 08:59] lucacozzuto commented on #16
I split the documentation in three files:
https://github.com/biocorecrg/master_of_pores/blob/master/docs/nanopreprocess.md
https://github.com/biocorecrg/master_of_pores/blob/master/docs/nanomod.md
https://github.com/biocorecrg/master_of_pores/blob/master/docs/nanotail.md

[2020-01-15 08:59] #16 closed, assigned to lucacozzuto

[2020-01-15 09:04] lucacozzuto commented on #22
Yes. you are right this is confusing. Today I'll make a big git merge to put everything on master. Sorry!

[2020-01-15 09:05] lucacozzuto commented on #14
The pipeline now demultiplex the fast5 files too. I also added a shel script for converting the output into a format compatible with the other two modules when using demultiplexing.
https://github.com/biocorecrg/master_of_pores/commit/a70b68dfb3336c9b6f9e52b2dd614e3246a378f0

[2020-01-15 09:05] #14 closed, assigned to lpryszcz, lucacozzuto

[2020-01-15 09:06] lucacozzuto commented on #8
It cannot be done since the copy of the final output files is asynchronous... I'm in touch with NextFlow developer to minimise the impact of this.

[2020-01-15 09:06] #8 closed, assigned to nobody

[2020-01-15 13:35] ADelgadoT opened #25 "Parameters incompatibility in guppy"
Hi,

To execute guppy you must either provide a kit and a flowcell or a config file (-c model.cfg). If the user specifies the three of them, the latter would be ignored. Guppy uses a specific config file based on the kit and flowcell provided by the user (guppy_basecaller --print_workflows). Using guppy alone, the user can either specify the kit and flowcell or the config file. I believe it would

[2020-01-15 13:43] lucacozzuto commented on #25
I was not aware of this. Is this compatible with Albacore?

L

Il mer 15 gen 2020, 14:36 ADelgadoT <notifications@github.com> ha scritto:

[2020-01-15 13:55] ADelgadoT commented on #25
I actually don't know as I've never used Albacore.

[2020-01-16 15:03] enovoa opened #26 "incorporate poreplex for demultiplexing dRNA libraries"
https://github.com/hyeshik/poreplex
Use as default arguments: --filter-chimera --trim-adapter  --symlink-fast5 --barcoding
Usage: poreplex -i path/to/fast5 -o path/to/output --filter-chimera --trim-adapter  --symlink-fast5 --barcoding

[2020-01-20 14:59] novoalabmember opened #28 "include threshold-based filtering of demultiplexing algorithm based on tsv, prior to fastq splitting"
Oguzhan can provide script to do so :) Thanks!

[2020-01-20 15:07] obegik commented on #28
`#!/usr/bin/env python3
import numpy as np
__author__ = 'Hunale Liu'
import sys,gzip, bz2

usage = '''
python sort_probability_deviance.py demultixon_ouput threshold(0,1)
e.g.:
 python sort_probability_deviance.py bc1.reads.tsv.bz2 0.9
'''

if len(sys.argv) < 3:
    print (usage)
    exit(0)

def fopen (f):
    if f.endswith ('.gz'):
        fh=gzip.open(f,'r')
    elif f.endswith ('.bz2'):

[2020-01-20 15:07] obegik commented on #28
This is what Huanle wrote as a python code to extract reads by threshold

[2020-01-20 15:08] lucacozzuto commented on #28
Some more context will be helpful :) Which is the problem?

[2020-01-20 15:10] obegik commented on #28
Oh sorry. This script is to extract high confidence demultiplexed reads  based on their confidence scores. It uses the demultiplexing output (tsv file) to extract the reads with higher than threshold indicated (we use 0.9 as default).

[2020-01-20 15:11] enovoa commented on #28
actually the default is to demultiplex everything that is >0.5, i believe. we sometimes filter the tsv file to keep only those reads with probability scores of 0.9 (so high certainty that it is this barcode) However, being very stringent will discard more reads

[2020-01-20 15:22] lucacozzuto commented on #28
consider that I'm also doing fast5 splitting. So it would be better to do this at the level of TSV generation. You can to this by adding a parameter to the demultiplexing command line (-s 0.9)

here the help from deeplexicon:

[code]

[2020-01-20 15:25] enovoa commented on #28
Oh so the -s is still active there already in this deeplexicon version that we embeded.
In this case we probably don’t need this additional script, we just need to make sure that we run the demultiplexing code with -s 0.9 and that in the tsv (and fastq) we only recover high confidence cases. Can you run it in the same test that you did the deeplexicon test?
Thanks!
Eva

[2020-01-20 15:29] enovoa opened #29 "add option to NanoProcess that allows to use user-provided base-called multiFast5 (i.e. enable option to not do basecalling)"

[2020-01-20 15:30] enovoa opened #30 "add Huanle and Anna to team to be able to tag them as assignees"

[2020-01-20 15:44] lucacozzuto commented on #28
only with one model? Since the other ones were failing...

[2020-01-20 15:47] enovoa commented on #28
Yes, just the 030 model, which should be the default and only model. For the moment I’d delete the other two from the repo. that is being fixed atm, will share with you the new fixed models as soon as we have them. thanks!

[2020-01-20 16:34] #28 closed, assigned to obegik

[2020-01-20 16:35] lucacozzuto commented on #29
It is already in place with basecalling "OFF"...

[2020-01-20 16:35] #29 closed, assigned to lucacozzuto

[2020-01-20 17:16] lucacozzuto opened #31 "new parameter for skipping fast5 demultiplexing"

[2020-01-20 20:34] ADelgadoT opened #32 "Optional deletion of the basecalled fast5 at the end of the analysis"

[2020-01-21 09:07] lucacozzuto commented on #32
I don't see the point of this. Files can be easily removed by the user... Can you explain me more?

[2020-01-21 09:08] lucacozzuto commented on #31
@enovoa which is the advantage to skip this step?

[2020-01-21 09:08] lucacozzuto commented on #30
done. @Huanle and @ADelgadoT are here :)

[2020-01-21 09:08] #30 closed, assigned to nobody

[2020-01-21 09:41] enovoa commented on #31
that you can do a lot of things you can do with base-called fastq, and this way you would save A LOT of storage that the pipelin would create (splitted fast5 by barcode) that would occupy a lot of space. Specially now that we are still playing with different demultiplexing parameters, you really don't want to store a new combination of FAST5s. Subsetting the original fast5 into different fast5 is

[2020-01-21 09:46] enovoa commented on #32
the point is that the user can easily forget. if its in the pipeline it is much easier for us to make sure that people will erase the files. For example, if we launch albacore to compare to guppy, for EpiNano we just want the fastq results to compare how EpiNano performs in guppy-basecalled fastq relative to albacore-basecalled fastq. But we wouldn't want to store the albacore-basecalled FAST5. So

[2020-01-21 09:59] lucacozzuto commented on #31
ok. I'll try to see how to do

[2020-01-21 10:01] lucacozzuto commented on #32
This an issue not yet solved with nextflow. I'll open an issue with them but I know that is a on going question.

[2020-01-21 10:02] enovoa commented on #31
basically you just need to demultiplex based on the fastq :) You can use the fastq_splitter.py script that comes with deeplexicon release:
python3 fastq_splitter.py -d output.tsv -q combined.fastq -o dmux_folder/ -s sample_name

[2020-01-21 10:03] lucacozzuto commented on #31
yep this is how it is now :) I have just to make the process demultiplexing of fast5 optional

[2020-01-21 10:10] lucacozzuto commented on #32
From NF chat they gave me this advice:
nextflow run pipeline.nf && rm -rf output/*/fast5_files/

[2020-01-21 10:48] #32 closed, assigned to nobody

[2020-01-21 10:49] lucacozzuto commented on #31
Done at https://github.com/biocorecrg/master_of_pores/commit/aee7325539510f90fefc0a0bc283e544dfe3087c Please note that you need to do
[code]
since I'm not touching the master repository

[2020-01-21 10:49] #31 closed, assigned to lucacozzuto

[2020-01-27 10:14] ADelgadoT opened #33 "Fastq files as input for NanoPreprocess"
Hi,

At the moment, the only input accepted by MoP - NanoPreprocess is fast5 files (raw or basecalled). The majority of users will have fastq files as input. Would it be possible to add an option to start the module with fastq files (see picture) instead of fast5? Is it feasible?

![image](https://user-images.githubusercontent.com/44808643/73166324-efa5b100-40f5-11ea-953a-4eb73b27914b.png)

Thanks

[2020-01-27 12:32] lucacozzuto commented on #33
I have doubt about this. Let's see if we get more people needing this. The
risk is to make the pipeline too complex for doing simple steps. I could
also think to a new module starting from fastq.

Il lun 27 gen 2020, 11:14 ADelgadoT <notifications@github.com> ha scritto:

[2020-01-27 12:46] enovoa commented on #33
Hi Luca, in the lab we store: i) raw fast5; ii) base-called fastq. We dont store base-called fast5 as it would be duplicated information. We usually dont need to rebasecall, but we often need to reanalyze the data using different mapping settings, etc. So hence Anna's request. It is quite essential to be able to use the module starting from fastq, and for the majority of users it will be the same.

[2020-01-27 12:51] lucacozzuto commented on #33
Reanalyse different samples with -resume will skip the basecalling. However I'll see if to make a new module starting from fastq.

[2020-01-28 16:24] lpryszcz opened #34 "fast5_type.py: command not found"
Hi @lucacozzuto , I've tried running the example with the latest version and it failed both with docker and singularity. I've been running it in MinION-2. Any idea?

[code]

[code]

Cheers,

[2020-01-28 16:37] #34 closed, assigned to lucacozzuto

[2020-01-28 16:38] lpryszcz commented on #34
Ok, it seems it was some issue with my nextflow installation. It works after I've reinstalled it. Cheers!

[2020-01-28 16:39] lucacozzuto commented on #34
Nice to hear issues like this! ;)

[2020-01-31 09:23] enovoa opened #35 "re-test the 3 models for demultiplexing using updated deeplexicon code (bug fixed)"
Hi Luca, can you update the code to use the lates version found here? (deeplexicon.py)
The models haven't changed. Seems the issue was in the code, but this only became apparent in specific models that had larger images.  Can you pls update code and re-test the 3 models in the repo with the same test data (same as you did before)? Thanks again! Eva

https://github.com/Psy-Fer/deeplexicon

[2020-01-31 09:46] lucacozzuto commented on #35
Hi Eva,
sure, I'll do it. Good that this is helping other your project too! :)

Luca

Il ven 31 gen 2020, 10:23 Eva Novoa <notifications@github.com> ha scritto:

[2020-02-03 10:15] ADelgadoT opened #36 "Slow deeplexicon - Ways to improve"
Hi everyone,

NanoPreprocess, specifically deeplexicon, has been running for more than three days to demultiplex a one million reads sample. It is running, it does not crush but it is not efficient. We should try to make it more efficient. At the moment, if I'm not mistaken, we are analysing one multi fast5 per time (in parallel). Any ideas?

[2020-02-03 10:17] lucacozzuto commented on #36
Are you using the cluster?

[2020-02-03 10:19] ADelgadoT commented on #36
No, she is running it in MinION as she had to basecall using GPU.

[2020-02-03 10:20] lucacozzuto commented on #36
I think this is the problem. I suggest you to do the basecalling with GPU and then demultiplexing on the cluster, so you can use up to 100 nodes per time.

[2020-02-03 10:22] lucacozzuto commented on #36
when we will have a GPU version of deeplexicon we can do everything on a single computer.

[2020-02-03 10:22] #36 closed, assigned to Huanle, lucacozzuto, ADelgadoT

[2020-02-03 10:42] enovoa commented on #36
This points to the urge of being able to run MoP on base-called fastq.
The most efficient strategy would be to skip MoP for basecalling (i.e. do it ourselves), and then only launch MoP once we have fastq.

[2020-02-03 10:45] lucacozzuto commented on #36
The demultiplexing is done on fast5 files. So also skipping the basecalling and starting from fastq won't speed up the demultiplexing. You can do the basecalling as you prefer and then use basecalled fast5 for the pipeline in the cluster with 100 CPUs

[2020-02-03 10:49] enovoa commented on #36
Yes, we can use basecalled fast5 in the cluster with 100CPUs. The only thing is that we typically do not store basecalled fast5, it is an unnecessary use of space. Fast5 + FASTq contain the same information as basecalled fast5. So storing Fast5, fastq and basecalled fast5 is redundancy.

Hence or need to be able to launch MoP using FASTQ (and raw FAST5), but not base-called fast5. Also because we

[2020-02-03 10:52] lucacozzuto commented on #36
Well this is way more complex... the storage of basecalled fast5 is not necessary once the pipeline is finished you simply remove it. We will discuss in few minutes.

[2020-02-03 12:22] enovoa opened #37 "cDNA pipeline with guppy or guppy+porechop"

[2020-02-05 09:46] Huanle commented on #25
command (CPU version) below will work.
the config file comes along with basecaller.
[code]

[2020-02-05 14:25] lucacozzuto commented on #35
Done at https://github.com/biocorecrg/master_of_pores/commit/95e5aab736ed923d442c24f185c8b78b13e63947

[2020-02-05 14:25] #35 closed, assigned to Huanle, lucacozzuto

[2020-02-05 14:26] lucacozzuto opened #38 "replacing epinano with newer version"
Epinano had a problem with a script. I need to update the docker image

[2020-02-05 14:27] lucacozzuto commented on #38
Done at https://github.com/biocorecrg/master_of_pores/commit/95e5aab736ed923d442c24f185c8b78b13e63947

[2020-02-05 14:27] #38 closed, assigned to lucacozzuto

[2020-02-05 16:14] Huanle commented on #20
@lucacozzuto let me know if you ran into any problem related to this program

[2020-02-06 09:47] Huanle commented on #38
@lucacozzuto can you let me know the details? commands and error messages?

[2020-02-06 09:50] lucacozzuto commented on #38
Hi @huanle is just to keep track of the change you asked me on gitter. I upgraded epinano, so it should be ok now

[2020-02-14 13:23] enovoa commented on #33
following up on this as it is urgent. otherwise we cannot use the pipeline. thanks!

[2020-02-14 15:09] lucacozzuto commented on #33
I just pushed a preliminary version (a new module) but is really really beta... if you want to play fell free :)

[2020-02-20 08:54] ADelgadoT commented on #25
Hi,

I believe we don't need this option anymore as if the user introduces the correct kit and flowcell, the config file will be changed accordingly. If you type `guppy_basecaller --print_workflows`, all the combinations of kit+flowcell and their respective config file used by guppy will appear.

So I propose to leave the command as it is, but we need to automatize the identification of the kit us

[2020-02-20 09:35] lucacozzuto commented on #25
Everything that can reduce number of parameters is welcome! :) If you find in which file are written and we can extract them easily we can try

[2020-02-20 10:19] ADelgadoT commented on #25
Hi Luca,

I've found the file from which you can extract the flowcell and the kit. I'll send it to you by email. :D

[2020-02-20 13:13] ADelgadoT commented on #37
Hi,

Instead of including porechop in MoP, which is deprecated, we should include readucks (link: https://github.com/artic-network/readucks/).

I haven't test the tool, but according to their documentation, we should implement this command:
readucks -i /path/to/fastq/files -o /output/directory --annotate_files --native_barcodes --threshold 50

If only using barcodes at one end of the read:
readuck

[2020-02-24 12:10] ADelgadoT commented on #33
Hi,

I tested it and it works :)

[2020-02-24 13:36] ADelgadoT commented on #37
Commands tested, they work fine. With the current sample, readucks can classify around 11% of the reads which are unclassified bu guppy demultiplexing.

[2020-02-28 09:32] #33 closed, assigned to lucacozzuto, ADelgadoT

[2020-02-28 09:37] ADelgadoT opened #39 "Add graphmap as a mapper in Nanopreprocess"
Could we add graphmap in Nanopreprocess and Nanopreprocess_s?

Thanks! :)

[2020-03-02 11:10] lucacozzuto commented on #39
Hi Anna,
I just read that graphmap would not be maintained any more (they know are devoloping graphmap2).

Do you think it makes sense to have an outdated tool in the pipeline?
[code]

https://github.com/isovic/graphmap

Luca

[2020-03-02 11:15] enovoa commented on #39
Hi Luca, it does for us, as we currently have benchmarked with one for many datasets.
We are not suggesting to exclude graphmap2, but to include graphmap to be able to have all the datasets processed in the way that we know it works, at least for the moment.
Thanks!
Eva

[2020-03-02 11:16] lucacozzuto commented on #39
fine

[2020-03-02 15:33] lucacozzuto commented on #39
done at https://github.com/biocorecrg/master_of_pores/commit/3c0400afd21a9f86e568027e8e9350f0f4fb5bab

[2020-03-02 15:33] #39 closed, assigned to nobody

[2020-03-02 16:43] lucacozzuto opened #40 "demultiplexing not working for simplePreprocessing"

[2020-03-06 10:04] lucacozzuto commented on #40
Solved at https://github.com/biocorecrg/master_of_pores/commit/d5d59b20d73f02b010a5c6fa2f417ba08dba1436

[2020-03-06 10:04] #40 closed, assigned to lucacozzuto

[2020-03-10 13:25] enovoa opened #41 "deeplexicon - old model + old script / new model + new script"
Hi Luca,

If you could please update MoP deeplexicon such that:

1) Old script and model are used together as option #1 (i.e. when model 030 is requested):
https://github.com/novoalab/deeplexicon_only_for_model030
Here you can find the script and model for old version

2) New script and new model are used together as option #2 (i.e. when model final is requested): both script and new model are the

[2020-03-18 09:45] lucacozzuto commented on #41
solved in https://github.com/biocorecrg/master_of_pores/commit/923a0677b0752b9d077c4a06418f472d78c76d63

[2020-03-18 09:45] #41 closed, assigned to lucacozzuto

[2020-03-18 10:09] lucacozzuto opened #42 "adding nanoConsensus"
https://github.com/nanoporetech/medaka

[2020-03-18 10:12] lucacozzuto commented on #38
done at https://github.com/biocorecrg/master_of_pores/commit/da36853d2397c39a27c15a8457cf2b80563466d6

[2020-03-18 10:25] enovoa commented on #38
which version have you used @lucacozzuto ?

[2020-03-18 10:26] lucacozzuto commented on #38
the latest in Github

[2020-03-18 10:27] enovoa commented on #38
can you please specify version number?

[2020-03-18 10:41] lucacozzuto commented on #38
where is this information? I got the latest from github with git clone but I cannot check the version

[2020-03-18 10:50] enovoa commented on #38
https://github.com/enovoa/EpiNano/releases <https://github.com/enovoa/EpiNano/releases>

[2020-03-18 10:52] lucacozzuto commented on #38
no I got it from github the very latest release. The one that has the last modification 6 days ago

[2020-03-18 11:15] enovoa commented on #38
Huanle,
Can you confirm which VERSION is the one in the main github if one clones the repo?

[2020-03-18 23:40] Huanle commented on #38
it is version 1.1 -- with corrected insertion frequencies.

[2020-03-18 23:46] lucacozzuto commented on #38
But the latest is 1.2!!! Is it ok to take the latest from GitHub?

Il gio 19 mar 2020, 00:40 WHUANLEE <notifications@github.com> ha scritto:

[2020-03-19 11:32] Huanle commented on #38
please simply clone fromthe repo, which is v1.1. v1.2 is a pre-release.

[2020-03-19 11:39] lucacozzuto commented on #38
Ok so it is ok to do git clone?

[2020-03-19 12:28] enovoa commented on #38
Please wait for version 1.1.1, to be in the github repo, to able to distinguish which version MoP is using.
Thanks!

[2020-03-20 10:41] lucacozzuto commented on #20
Hi, in nanomod we already requiggled the data using tombo. I'm wondering if we need to redo everything with nanopolish like they say. Or we can use the tombo resquiggling.
Let me know.

[2020-03-20 12:51] enovoa commented on #20
Needs to be nanopolish - works much better.

On Fri, Mar 20, 2020, 11:41 AM Luca Cozzuto <notifications@github.com>
wrote:

[2020-03-20 12:53] lucacozzuto commented on #20
Ok so I'll nedd to add extra steps.

[2020-03-20 13:53] Huanle commented on #38
@lucacozzuto it is out

[2020-03-20 13:56] lucacozzuto commented on #38
thanks! Please add me to your slack / make a channel for mop etc. since I would need some help for nanocompore etc

[2020-03-24 10:53] ADelgadoT opened #43 "Counting command with htseq-count in NanoPreprocess and NanoPreprocessSimple"
Hola,

In both NanoPreprocess and NanoPreprocess simple, there are these lines to perform feature counting with htseq (gene level):

[code]
1. The already existing parameter counter_opt should be included in the command:
[code]
2. Would it be possible to also report ambiguous assignations? In other words, also report those entries with '__' (thus, eliminating the grep -v)? Or could we make an opti

[2020-03-24 11:03] lucacozzuto commented on #43
Hi! Thanks for pointing out the missing parameter. I'll add it right now.  BTW you should have a count folder with the results from htseq... Can you check them? PS: I'm also on slack.

[2020-03-24 11:08] lucacozzuto commented on #43
Added conter_opt at https://github.com/biocorecrg/master_of_pores/commit/2e75618b975de298c2d5bf73a493dd83e1817b57

[2020-03-24 11:08] #43 closed, assigned to nobody

[2020-03-27 09:58] ADelgadoT opened #44 "NanoTail failing after executing NanoPreprocess - guide"
Several samples were processed with Nanopreprocess and later, with NanoTail. It gave the following error:

[code]
After doing some research, it was found that by default, Tailfindr looks for its required input in the group `Basecall_1D_000`. Looking at the basecalled multi-fast5 files generated by Nanopreprocess, the inputs for Tailfindr are under the group ` Basecall_1D_001`.

How to solve this?

[2020-04-01 20:23] Huanle opened #45 "control number of threads used by nanocompore"
Hi @lucacozzuto ,
add control of number of threads used by nanocompore so that this number is >=3 but <= number of sequences in the reference fasta file.

Thanks a lot.

[2020-04-02 08:16] lucacozzuto commented on #45
Hi @Huanle. A question: what will happen if you have a number of threads > than sequences? I see that below three we got an error, but what having more?

[2020-04-09 20:22] #45 closed, assigned to nobody

[2020-04-14 09:28] enovoa opened #46 "add cram"
for generating IGV visualizations

[2020-04-14 09:32] enovoa opened #47 "NanoIsoform module - create and add two softwares to assign which read belongs to which isoform"
1. Include **npTranscript** to assign which readID corresponds to each mRNA based on a gtf
https://github.com/lachlancoin/npTranscript
** Used for SARS-CoV2

2. Include **FLAIR** to assign which readID corresponds to each mRNA based on a gtf
https://github.com/BrooksLabUCSC/flair

[2020-04-14 09:35] enovoa commented on #47
This way we can run NanoMod and NanoTail directly on per-transcript files, rather than per-genome files

[2020-04-14 10:01] ADelgadoT opened #48 "Outputing NanoPolish results from NanoMod"
The output from the process `cat_collapsed_nanopolish` - one per sample - should be part of the NanoMod's output. These results should be place in a new folder called 'Nanopolish'.

Thus, the NanoMod results folder structure should be: Epinano, Tombo, Nanocomp and Nanopolish.

Thanks! :)

[2020-04-14 10:20] lucacozzuto commented on #48
Done at https://github.com/biocorecrg/master_of_pores/commit/e0f7bdc2bfbeea606564d291a937f716f3cf535c

[2020-04-14 10:20] #48 closed, assigned to nobody

[2020-04-14 10:21] lucacozzuto commented on #46
I would need the command lines :) and also if we want to add some downsampling

[2020-04-14 10:24] enovoa commented on #46
Can we add Toni in this issue? He did it, not me....

[2020-04-14 10:28] lucacozzuto commented on #46
@toniher can you help me on this, please?

[2020-04-14 10:34] lucacozzuto commented on #47
Hi! I would need some command lines :) Can we discuss it on Slack?

[2020-04-14 10:44] lpryszcz opened #49 "NanoMod running tombo through modPhred de_novo"
Hi @lucacozzuto, I've implemented tombo so it can process multi_fast5 files and output results directly to BAM. @enovoa wanted to incorporate that inside NanoMod. How can I proceed?

[2020-04-14 10:59] lucacozzuto commented on #49
wow this will be a major improvement and quite some change of the code in nanomod pipeline. I don't know if we need BAM output. Can we talk about this on slack?

[2020-04-14 11:01] lucacozzuto commented on #20
Done

[2020-04-14 11:01] #20 closed, assigned to Huanle, lucacozzuto

[2020-04-14 14:55] toniher commented on #46
Code used here: https://github.com/biocorecrg/covid/blob/master/scripts/procCRAM.sh

[2020-04-14 17:11] lucacozzuto commented on #46
Added at https://github.com/biocorecrg/master_of_pores/commit/1703a4d8c918dd2b0500c5c2e579083418a4a8b7

[2020-04-14 17:11] #46 closed, assigned to lucacozzuto

[2020-04-15 04:38] guillaume-vares commented on #33
We would like to start Nanopreprocess directly on basecalled FastQ files because we are running Guppy independently on a different GPU server.
What is the best way to update the nanopreprocess.nf file so that it runs directly on basecalled files?

[2020-04-15 06:55] lucacozzuto commented on #33
Hi. In the 'review' branch we added a new module nanopreprocesSimple that starts from fastq. You can clone that branch and give it a try.

[2020-04-15 07:03] guillaume-vares commented on #33
Hi Luca,
That’s what I thought but I wanted to make sure ☺ Thank you!
Best,
Guillaume

From: Luca Cozzuto <notifications@github.com>
Reply-To: biocorecrg/master_of_pores <reply@reply.github.com>
Date: Wednesday, April 15, 2020 at 15:56
To: biocorecrg/master_of_pores <master_of_pores@noreply.github.com>
Cc: Guillaume Vares <guillaume.vares@oist.jp>, Comment <comment@noreply.github.com>
Subject: Re:

[2020-04-16 11:06] ADelgadoT commented on #47
For **npTranscript**
1. Change path to npTranscript in files: `scripts/run.sh` and `scripts/run_extract_cluster.sh`
2. Change path to the bam file(s) to analyse + reference file + coordinates file + output directory in `scripts/run_example.sh`
3. Run `Rscript run_example`

I believe only one process is needed for the whole thing. **Input files:**
1. Bam file(s) - it can process one or more bam fil

[2020-04-16 11:08] lucacozzuto commented on #47
mmm I don't like the custom input files like this... can we use a standard format like GTF, GFF, BED? I could try then to make the custom format for the program.

[2020-04-16 11:48] enovoa commented on #47
This is what the code uses unfortunately… perhaps open an issue in repo of npTranscript asking if they have a script for conversion of gtf to their format of input?

[2020-04-16 11:51] lucacozzuto commented on #47
I think is quite easy to make it. I'll do it

[2020-04-20 15:28] callumparr opened #50 "Using guppy GPU basecaller server on cluster"
Is it possible to modify nextflow options to accept --port and use a GPU installed on another node on cluster?

I tried local install in my directory on cluster where I installed master of pores, guppy gpu and had issues with not being able to install CUDA Drivers first so I reverted to guppy-cpu. Howvver I do have Tesla GPU card on another node and I can use the cpu version of guppy as client and

[2020-04-20 16:15] lucacozzuto commented on #50
Hi. I think the easiest way is to do the peak calling in the node with GPU card... (if you have a cluster).

You can change the nextflow.global.config file and add
[code]

[2020-04-20 16:36] callumparr opened #51 "Failure at first step on test multi_fast5 with nano preprocess"
I am guessing this failure on test fast5 script is because of the docker image pull fail error (because lack of space) or also another error in addition?

`
executor >  local (1)
[45/f2daad] process > testInput             [  0%] 0 of 1
[-        ] process > baseCalling           -
[-        ] process > concatenateFastQFiles -
[-        ] process > QC                    -
[-        ] process > fas

[2020-04-20 16:47] lucacozzuto commented on #51
I think the error is due to the missing image.

[2020-04-21 06:05] callumparr commented on #51
Confirm after cleaning up docker system image was pulled and first step passed.

[2020-04-21 06:05] #51 closed, assigned to nobody

[2020-04-21 08:32] callumparr opened #52 "workflow.onComplete not invoked ; carrier over form older version?"
Every thing but the last step using `workflow.onComplete` worked.

Does this delete the work directory once all files are in the output directory?

`
(base) callum@d403:~/master_of_pores/NanoPreprocess$ nextflow run nanopreprocess.nf -with-docker -resume
N E X T F L O W  ~  version 20.01.0
Launching `nanopreprocess.nf` [maniac_hopper] - revision: b92a6e1b7e
╔╦╗┌─┐┌─┐┌┬┐┌─┐┬─┐  ┌─┐┌─┐  ╔═╗╔═╗╦═╗╔═╗

[2020-04-21 08:39] lucacozzuto commented on #52
Hi,
no the manual folder has to be removed manually. The failing on.Complete is
something strange...

Luca

Il mar 21 apr 2020, 10:32 callumparr <notifications@github.com> ha scritto:

[2020-04-21 10:10] callumparr commented on #52
maybe it is the email. I put my email in param.config but if I remove seems to not cause this issue. I was unsure what is correct way to set this email notification up.

[2020-04-21 10:12] lucacozzuto commented on #52
So I think it cannot trigger the mail... for this it failed.

[2020-04-21 10:22] #52 closed, assigned to nobody

[2020-04-21 13:28] callumparr opened #53 "Issues with newer guppy installs"
Ran into few issues on cluster so now installing master_of_pores on local ubuntu box. There is some ambiguity in the flags between versions maybe. It is best to stick with v3.1.5 that is in the documents?

`
Error executing process > 'baseCalling (guppy-multifast-0)'

Caused by:
  Process `baseCalling (guppy-multifast-0)` terminated with an error exit status (255)

Command executed:

  guppy_basec

[2020-04-21 13:31] lucacozzuto commented on #53
Hi, which version are you using? I see from:
[code]
that this version has a different command-line/interface. If you need this particular version you might want to change the command line in the NF code...

[2020-04-21 13:35] callumparr commented on #53
I was installing v3.5.2 but then something that is a little newer than 3.1.5.

I was looking at help for guppy and it wasn't so obvious why it couldn't handle the current command submitted by nanopreprocessing.nf. Both use input_path and save_path similarly

[2020-04-21 13:44] lucacozzuto commented on #53
This is the command line currently in use:
[code]
I think that just changing --input with --input_path would fix this... let me know

[2020-04-21 15:08] callumparr commented on #53
That worked. Thank you. It seems to handle the the differences in guppy output structures without any further modification.

[2020-04-21 15:11] lucacozzuto commented on #53
I will double-check if it works also with the older version and I'll modify the code accordingly. Thanks for your report!

[2020-04-21 15:11] #53 closed, assigned to nobody

[2020-04-21 15:15] callumparr opened #54 "Exceed minimum available memory"
Sorry for so many questions. I am having issue with memory allowance on by machine. Its got 16GB (14GB available) RAM but the mapping and samtools step require 20GB.I have a swapfile of around 20GB on hard drive that can also be used . Do you know if this requirement can be relaxed?

`
email                     :
executor >  local (4)
[e6/7ec40b] process > testInput             [100%] 1 of 1, cach

[2020-04-21 15:18] lucacozzuto commented on #54
the configuration is in nextflow.global.config
you can change reducing the amount of RAM required in the section **big_mem_cpus**
[code]

[2020-04-21 15:37] #54 closed, assigned to nobody

[2020-04-21 17:34] callumparr opened #55 "Failure on sample multifast5 curl cake data for NanoTail"
Cannot find an output folder either
[code]

[2020-04-21 17:36] lucacozzuto commented on #55
can you check inside the folder
  /home/minion/master_of_pores/NanoTail/work/33/46846f612f6f3068435c0a98f4d955 ?

[2020-04-22 12:28] callumparr commented on #55
the directory is populated with symlink to the result of the tailfinder container but then file is empty. This was my param.cfg . I change the directory to the output from NanoPreprocess

[params.cfg.txt](https://github.com/biocorecrg/master_of_pores/files/4516066/params.cfg.txt)

From error message it cannot open tailfin_1 but the symlink is called tailfin_ from what I can see

.command.log/run

[2020-04-22 17:53] lucacozzuto commented on #55
Hi,
I found a problem when you run a single fast5 file. Now I fixed it. Please remember that the pipeline needs that you run the preprocessing with the option:
[code]

Best
Luca

[2020-04-24 08:04] callumparr commented on #50
I have not managed to get this working as of yet because there is issue that the GPU not being accessible from the node where my data and master of pores is installed

[2020-04-24 08:04] callumparr commented on #50
Anyway I had GPU on my local machine and got most of it working on CPU and now I tried GPU in the params.cfg but there seems to be issue with Docker API versions

Sorry is there easier way around this without updating docker . I am not sure how this is done easily.

`

kit                       : SQK-RNA001
flowcell                  : FLO-MIN106
fast5                     : /home/minion/master_of_p

[2020-04-24 08:07] lucacozzuto commented on #50
I strongly recommend to use singularity. However we tested docker too and it worked. You might want to get in touch with people of docker for checking the problem (version?)

[2020-04-24 08:09] callumparr commented on #50
OK I will try singularity as its looking I will have to go down this option on our HPC cluster as well

[2020-04-25 16:40] callumparr opened #56 "Possible to stream fast5 files from a tarball?"
I got a few libraries currently in a tarball on server. Is it possible pass this tarball to NanoPreprocess without unpacking it?

[2020-04-25 16:43] lucacozzuto commented on #56
Ehm no sorry.

[2020-04-26 06:52] #56 closed, assigned to nobody

[2020-04-26 13:51] callumparr opened #57 "GPU fast5 loaded sequentially in separate run cmd"
I am now running through real data now.

During basecalling, there is a fast5 files are loaded into a common separately and sequentially. Is this correct and if so is there a reason for this?

[2020-04-26 14:07] lucacozzuto commented on #57
Are you using GPU? Is your granularity parameter empty?

[2020-04-26 14:23] callumparr commented on #57
As yes I am using GPU. I did not set granularity as I thought this was for no. of reads reads more than files. I am dealing with multi_fast5 files.

[2020-04-26 16:43] callumparr opened #58 "Issue with live basecall fast5 for tailfindr"
I have some fast5 that were originally outputted to pass and fail with MinKNOW livebasecalling. I am unsure if squiggles/events were written on the fast5 or the fast5 were just moves to pass or fail directories.

<img width="851" alt="Screen Shot 2020-04-26 at 5 39 31 PM" src="https://user-images.githubusercontent.com/41637575/80313818-50bc4e00-87e5-11ea-8da3-f44c9a28d22f.png">

I rebasecalled the

[2020-04-26 17:34] adnaniazi commented on #58
Hi Callum,

Please try this command:
find_tails(fast5_dir = './' , save_dir = './', , csv_filename = 'Day1_01_DRS-FAL87078_pass_6dc8999c_347_findr.csv', num_cores = 4, basecall_group = 'Basecall_1D_001')

This command specifies that tailfindr should check for the move table in the Basecall_1D_001 group of the fast5 file. The default is Basecall_1D_000, which in your case would not contain the move

[2020-04-27 01:00] callumparr commented on #58
Thank you I will try to see this.

May I confirm that it should work with gzip, which I think was the standard output compressed fast5 before they introduced VBZ?

I think I can use hdf5_repack for this. Will get back to you.

[2020-04-27 01:03] adnaniazi commented on #58
Yes, it should work with the fast5 compression that was there before VBZ compression was introduced.

[2020-04-27 07:28] guillaume-vares opened #59 "NanoTail stops at nanopolish step"
When running NanoTail, it completes tailfindr then stops at nanotail step.
Shouldn't the fastq files be concatenated?

[code]

[2020-04-27 07:52] callumparr commented on #58
Hey so changing the basecall group to 001 worked and output results similar to nanopolish.

I will now run the h5repack on the fast5 out files from NanoPreprocess.

[2020-04-27 07:52] #58 closed, assigned to nobody

[2020-04-27 08:52] #55 closed, assigned to lucacozzuto

[2020-04-27 09:53] lucacozzuto commented on #59
Yes they should be a single fastq file per sample. Or more in case you have demultiplexing, but in that case you need to separate them. Can you show me the output of nanopreprocessing?

[2020-04-28 05:39] guillaume-vares commented on #59
I performed Guppy separately then ran NanoPreprocessSimple.
But I didn't concatenate the fastq files from Guppy.
Does "input_folders" parameter in NanoTail take into account any fastq file inside the folder?

[2020-04-28 08:42] lucacozzuto commented on #59
Yes. You need to make an output that is similar to NanoPreprocess for being read automatically by NanoTail / NanoMod (and also the counter parameter has to be "YES")

[2020-04-28 08:45] lucacozzuto commented on #57
This is the number of files either they are sequences or multifast5 files. I automatically change this parameter when using GPU = "YES" to a very large number. So I don't get what is happening. Can you try to use granularity=1000000 ?

[2020-04-28 12:18] callumparr commented on #57
Cool I will set this. Makes sense.

[2020-04-30 15:40] callumparr commented on #57
It seems setting granularity to something very large didn't stop it loading one multi_fast5 at a time into guppy . In any case, I guess its not so much of an issue.

[2020-04-30 15:41] lucacozzuto commented on #57
Yes but is a good reminder :) Let me check

[2020-04-30 15:41] lucacozzuto commented on #57
is this happening also with CPUs? Are you using the review branch or the master branch?

[2020-04-30 15:44] callumparr commented on #57
I am with the master branch. Thats something I didnt check because that time I was just running through it with the supplied single file in data. But I will confirm that the default 4000 read loading is correct.

[2020-04-30 15:59] callumparr commented on #57
with two discoverable multi_fast5 files in input directory its still loading in 1 file for guppy basecaller with CPU mode.

`
ONT Guppy basecalling software version 3.5.2+5b7a51b, client-server API version 1.1.0
config file:        /home/minion/master_of_pores/NanoPreprocess/bin/ont-guppy/data/rna_r9.4.1_70bps_hac.cfg
model file:         /home/minion/master_of_pores/NanoPreprocess/bin/ont-guppy/da

[2020-05-01 08:23] callumparr opened #60 "NanoCount error with assign fast5"
The pipeline was working well for one library and then repeated on another library and then an error came during the assign fast5 creation from the sorted alignment file. I can see the BAM file looks OK.

`
(base) callum@dgt-gpu1:~/master_of_pores/NanoPreprocess$ nextflow run nanopreprocess.nf -with-singularity -resume
N E X T F L O W  ~  version 20.01.0
Launching `nanopreprocess.nf` [friendly_mir

[2020-05-01 08:46] lucacozzuto commented on #60
Hi, it looks like there is something went wrong with NanoCount. Can you go in the folder
/home/callum/master_of_pores/NanoPreprocess/work/3f/71df9957d8b2151cbe1af158b1896f
 and check the bam etc?
Maybe is something to redirect to them.

L

[2020-05-01 09:19] callumparr commented on #60
[code]

Example of the BAM .

[example.txt](https://github.com/biocorecrg/master_of_pores/files/4563169/example.txt)

[2020-05-01 09:27] lucacozzuto commented on #60
you can do a samtools flagstat of the bam. and then if is ok

singularity exec -e path_of_the_image NanoCount -i fast5_pass.minimap2.sorted.bam -o fast5_pass.count

at that point if it fails we should send and issue to NanoCount developers

[2020-05-01 16:28] callumparr commented on #60
output from `samtools flagstat in.bam > out.flagstat`

[code]

Where can I find the location of the images for singularity. I am not so familiar with this. Is there an equivalent docker system df command?

[2020-05-01 16:34] lucacozzuto commented on #60
In the root of master_of_pores you should have a folder with all the images. The one you want it should be biocorecrg-mopprepr*.img

[2020-05-01 17:08] callumparr commented on #60
```(base) callum@dgt-gpu1:~/master_of_pores/NanoPreprocess$ singularity exec -e ../singularity/biocorecrg-mopprepr-0.2.img NanoCount work/3f/71df9957d8b2151cbe1af158b1896f/fast5_pass.minimap2.sorted.bam -o work/3f/71df9957d8b2151cbe1af158b1896f/fast5_pass.count```

[code]

[2020-05-01 17:13] lucacozzuto commented on #60
can you change in the file master_of_pores/nextflow.global.config
the version of the container? from
      container =  biocorecrg/mopprepr:0.2

 to
     container = 'biocorecrg/mopprepr:0.4'
I upgraded twice this container, so maybe it is time to upgrade in the master too.

[2020-05-02 14:52] callumparr commented on #60
do I need to manually pull the image to the master_of_pores/singularity ?

[2020-05-02 15:13] lucacozzuto commented on #60
No. If you change that line of code it will do automatically for you.

L

Il sab 2 mag 2020, 16:52 callumparr <notifications@github.com> ha scritto:

[2020-05-02 15:58] callumparr commented on #60
Updated and reran nextflow run nanopreprocess.nf with the -resume flag but it seems not to have cache so has to rebasecall. Will let you know if it progress past the nanocount.

When I try the singularity with exec it had same error.

[2020-05-05 14:33] callumparr commented on #60
Thanks to the authors of NanoCount it is now able to work through this BAM file. Is there a skip option for running through NanoPreprocess as I no longer have the cache for this library but I have the output events fast5s, fastq and so on.

[2020-05-05 14:35] lucacozzuto commented on #60
ouch no... sorry. So what was the problem? Can you link here the issue?

[2020-05-05 14:50] callumparr commented on #60
https://github.com/a-slide/NanoCount/issues/5#issue-611231896

I think there is something weird about my BAM than it is a bug. I ran another library and completed fine

In this case I mapped direct RNA reads to the ensembl cDNA transcriptome fasta (release 99). I guess there is nothing wrong.

[2020-05-05 14:58] lucacozzuto commented on #60
ok thanks

[2020-05-05 14:58] #60 closed, assigned to lucacozzuto

[2020-05-05 14:59] lucacozzuto commented on #42
I added medaka in nanopreprocess / nanopreprocessSimple. Still experimental

[2020-05-05 14:59] #42 closed, assigned to nobody

[2020-05-07 15:08] #50 closed, assigned to nobody

[2020-05-07 15:08] #59 closed, assigned to lucacozzuto

[2020-05-07 15:09] #44 closed, assigned to lucacozzuto

[2020-05-07 15:09] #37 closed, assigned to ADelgadoT

[2020-05-10 08:29] callumparr commented on #60
Sorry for another question.

I can manually generate the count file but how may I get singularity image to use the latest version NanoCount. By singularity exec -e image NanoCount....

If I run the nextflow ith -resume it still gives the same error as before so I guess it is using an older version of NanoCount

UPDATE:

I added the home path directory to the NanoCount I installed and bash .command

[2020-05-11 11:44] lucacozzuto commented on #60
Hi, I added a new container with updated nanocount. You can do a git pull for changing the nextflow.global.config.

[2020-05-11 11:46] lucacozzuto opened #61 "upgrading nanocount"
The old version had a bug solved in 0.2.0.

[2020-05-11 11:46] lucacozzuto commented on #61
Solved at https://github.com/biocorecrg/master_of_pores/commit/4cf54bbf9b77ab647de9ff781ef86dc541e1328d

[2020-05-11 11:46] #61 closed, assigned to lucacozzuto

[2020-05-13 04:53] callumparr commented on #60
Thank you very much!

[2020-05-15 04:06] callumparr opened #62 "Lighter version of NanoTail?"
A lighter version of NanoTail which drops tailfindr. It seems it runs much slower than nanopolish. If we have a good reference, the strategy of nanopolish seems more than enough. From the results, they seem very similar.

Or is there some benefit to running both?

[2020-05-15 11:39] enovoa commented on #62
The benefit is that a priori, we didn't know if they would yield similar results or not. So we included both. In some genes they give similar results, but for others they don't.  For the same reason, we include two different softwares in most of our code: two basecallers, two mappers, two gene counters, two polyA tail estimators, two RNA mod prediction methods. Feel free to just nanopolish pA esti

[2020-05-15 11:56] enovoa commented on #62
With regards to making a lighter version of NanoTail, this is something we had considered. However, for the moment it is not a priority. We will update this thread if we do it at some point -thanks!

[2020-05-15 13:14] callumparr commented on #62
Agree its not much of a priority. Thank you for the reply and the tools.

[2020-05-15 13:14] #62 closed, assigned to nobody

[2020-05-21 15:51] callumparr opened #63 "Nanopolish only runs with one process/one thread"
Nanopolish only uses one thread from what I can see from top

and

[code]

If I install manually from git repo and make it runs as expected with the number of threads staed in the command.

[2020-05-21 15:59] lucacozzuto commented on #63
Are you referring to nanopolish eventalign in NanoMod?

[2020-05-21 16:02] callumparr commented on #63
Ah sorry this is for `nanopolish polya ` in NanoTail , tailfindr spawns multiple R instances as expected but I cannot see this for nanopolish.

[2020-05-21 16:06] lucacozzuto commented on #63
It is under control of "big_mem_cpus_time" label in nextflow.config inside the NanoTail folder. If you go inside the folder where nanopolish is run you can have a look at the command line inside the file .command.sh
Here mine:
       nanopolish polya -r multifast.fq.gz  -g reference_sequences.fa -t 8 -b output2_filt.bam

So I specify 8 threads

[2020-05-22 04:56] callumparr commented on #63
OK I checked again this morning and it seems to be running the number of processes I expected .

[2020-05-22 04:56] #63 closed, assigned to nobody

[2020-05-27 09:52] ADelgadoT opened #64 "New Tombo Output"
Implement new Tombo commands to get an improved output:

**Changes to process getModificationsWitTombo:**

- Modify `tombo detect_modifications` command:
tombo detect_modifications level_sample_compare --fast5-basedirs ${folder_name_A}/* --alternate-fast5-basedirs ${folder_name_B}/* --statistics-file-basename ${folder_name_A}_${folder_name_B}_level_compare_sample --store-p-value

- Delete `tombo t

[2020-05-28 16:23] lucacozzuto commented on #64
Hi @ADelgadoT I miss some outputs. I sent you a DM in slack

[2020-05-29 15:10] lucacozzuto commented on #64
Done at https://github.com/biocorecrg/master_of_pores/commit/309b604d577662dc9297eab5b4301970caec3f59

[2020-05-29 15:10] #64 closed, assigned to ADelgadoT

[2020-05-31 14:59] callumparr opened #65 "NanoMod fail at beginning"
I am working with some of the data sets used in your frontiers in genetics paper. Two replicates from WT and KO yeast cells. A downsample library for these are output in NanoPreprocess and then I added the output directories into the comparison.tsv.

I used the transcriptome reference

`Saccharomyces_cerevisiae.R64-1-1.cdna.all.fa`

I could not find a transcriptome reference for SK1 strain

I form

[2020-06-02 11:40] lucacozzuto commented on #65
Please check that comparison.tsv has to be tab-separated and not space separated.  PS: as stated in the help section the reference must be the genome and not the transcriptom.

[2020-06-02 15:04] callumparr commented on #65
Thank you. With tabs it is running now.

I was under the impression from tombo documentation and the issue pages, that transcriptome is required for tombo detection with RNA as it cannot deal with splice events.

Also in the master of pores documentation it says to use a reference transcriptome as input for NanoMod.

I used the cDNA references in NanoPreprocess does that mean I need to repeat the

[2020-06-02 15:07] lucacozzuto commented on #65
No... Let me double-check maybe this is something old that I have to remove in the help. Thanks for spotting this.

[2020-06-06 08:57] guillaume-vares opened #66 "Tailfindr slow"
In Nanotail module, Tailfindr is extremely slow in our cluster. It takes several days to compute polyA tails for 2 million transcripts. Is there a way to tweak settings to improve speed? (multithreading, parallel commands). We use Singularity containers, and we are not familiar with configuration.

[2020-06-06 09:06] lucacozzuto commented on #66
Tailfindr is below the control of the label  big_mem_cpus in the configuration file nextflow.config within the folder. You can add a queue name that is suitable for your cluster and increase the number of cpus. Have a look if you are really using 8 cpus in your node. PS: the program should already be running in parallel on each multi fast5 subset.

[2020-06-09 09:13] enovoa opened #67 "update deeplexicon to latest version which allows running in GPU (option -g)"
DeePlexicon can now be ran on GPU! :)

[2020-07-10 09:58] ADelgadoT opened #68 "Record guppy version in module Nanopreprocess module"

[2020-08-06 04:22] yasukoh opened #69 "deeplexicon in NanoPreproessSimple"
Hi,

I've been trying to use NanoPreprocessSimple since I had basecalled data already.
However, everytime I tried, I got an error saying " StreamExecutor device (0): <undefined>, <undefined>
  /usr/local/lib/python3.7/site-packages/pandas/compat/__init__.py:117: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a R

[2020-08-06 06:50] lucacozzuto commented on #69
Hi, we recommend to use MoP with singularity or docker images for overcoming this kind of issues.

[2020-08-06 07:28] yasukoh commented on #69
Hi,
thank you for your comment and recommendation! I am afraid this might be very basic question.
But I'm sorry that I am not familiar with MoP.
would you explain to me a bit more? I am using with docker for NanoPreprocessSimple.
Thank you so much.

yh

[2020-08-06 07:30] lucacozzuto commented on #69
So you are using docker and get this kind of error? Can you write down the command line you are using for launching nanopreprocess, please?

[2020-08-06 07:35] yasukoh commented on #69
command line is
"nextflow run nanopreprocess_s.nf -with-docker"

yh

[2020-08-06 08:38] lucacozzuto commented on #69
Hi, it looks like in Mac you need to mount /Users directory in docker:
https://www.nextflow.io/docs/latest/docker.html#

You might want to try singularity too:
https://sylabs.io/singularity-desktop-macos/

L

[2020-08-07 06:12] yasukoh commented on #69
Hi,
The link you provided is a bit old info and with current docker, /Users directory is automatically mounted.
But I realized that docker tries to search python library which doesn't exist. So I tried to solve this.
With my knowledge I couldn't fix this at this point.
I will keep trying and meantime, I downloaded singularity and tried with it, but again, I got an error.
That says,
For input strin

[2020-08-07 09:48] yasukoh commented on #69
Hi,
It might be solved even though this may not be ideal solution.
I struggled with docker, but I realized I have conda env that deeplexicon works.
So I wrote conda path to deeplexicon env into nextflow script.
It is still running, but at least start to process of demultiplexing.
Thank you so much for your help.

If you could find better solutions, I would be happy to try.

yh

[2020-08-07 09:52] lucacozzuto commented on #69
Hi, in principle docker - singularity should be the best option but I did not test them in Mac OS. Have you tried singularity?

[2020-08-07 11:54] lucacozzuto commented on #68
Done

[2020-08-07 11:54] #68 closed, assigned to nobody

[2020-08-07 11:55] lucacozzuto commented on #69
Dear @yasukoh I tested the pipeline on a Mac OSX. I had to do some small changes since Docker doesn't mount symbolic links. If you do a git pull it should work. Let me know, please

[2020-08-08 05:10] yasukoh commented on #69
Hi, Thank so much for changes.
I downloaded again and tried. But I got the same error as before.
Is it possibly the problem of only my system??

yh

[2020-08-08 10:17] lucacozzuto commented on #69
I don't get it. With Docker you should not see your local environment. So your python environment should be "hidden".  Can you please start from scratch and reinstall MoP and try again? The warning you described at the beginning are ok. Let me know.

[2020-08-09 00:56] yasukoh commented on #69
Hmm. OK, I will uninstall all and re-install everything again.
Give me a bit of time. I will let you know.
Thank you so much for your help.

[2020-08-09 03:20] yasukoh commented on #69
No, it didn't work.
I got the same error. I didn't copy all of error message before, so the following is the whole message of error.
With that, you might be able to point out something I missed.
----
Error executing process > 'demultiplexing_with_deeplexicon (deeplexicon-0)'

Caused by:
  Process `demultiplexing_with_deeplexicon (deeplexicon-0)` terminated with an error exit status (137)

Command

[2020-08-11 10:11] lucacozzuto commented on #69
Ah ok, this looks more a problem with resources. Can you add -profile local and adapt the maximum memory to the one of your system?
The file to be changed is nextflow.global.config

[2020-08-12 01:26] yasukoh commented on #69
Sorry, I should have copied all of the error log from the beginning.
Could I clarify what should I do?
I modified the part of memory size of local section in nextflow.global.config file to fit to my system.
----
local {
        process {
    		executor = 'local'
    		cpus = 1
    		memory = '8GB'    -----  this number
----

and add to command line -profile local as
"/nextflow run nanopreprocess_s

[2020-08-12 09:52] yasukoh commented on #69
Definitely my mistake. I am sorry. I forgot to allocate more memory to docker itself.
Once I changed memory allocation of docker, it seems to start demultiplexing.
Thank you so much for your help.

yh

[2020-08-12 09:52] #69 closed, assigned to nobody

[2020-08-12 09:54] lucacozzuto commented on #69
You are welcome!

[2020-08-18 02:46] yasukoh opened #70 "NanoMod after NanoPreprocessSimple"
Hi,

Sorry to bother you again.  I would like to do NanoMod module after NanoPreprocessSimple, but no files in alignment folder of output folder and more importantly, no demultiplexed fast5 files. With that I don't think I can do NanoMod module..
I missed to do something? or could you give me any suggestions what I should do?

thank you so much.

yh

[2020-08-18 08:26] lucacozzuto commented on #70
Hi, NanoMod runs after nanopreprocess. If you want to use nanopreprocess simple you have to recreate the same folder structure produced by nanopreprocess. There is a script called reorganize.sh within nanopreprocess/bin for demultiplexed runs. PS: you should have alignments after nanopreprocess simple or did you inactivate that step?

[2020-08-18 08:27] #65 closed, assigned to nobody

[2020-08-19 01:16] yasukoh commented on #70
Hi, of course I didn't inactivate the alignment step. There is cram files folder and .cram and .crai files are in, but no files in alignment folder. Are those supposed to clean up after converted to cram files?

for reorganize.sh, again maybe very basic question, but could you tell me how I should run this? I cannot run as normal shell script I know.
I appreciate your help.

yh

[2020-08-19 10:44] lucacozzuto commented on #70
Hi, thanks it was a bug with copying the alignment in the folder. I fixed in https://github.com/biocorecrg/master_of_pores/commit/89fc6eaeab345651369020d2ecd37a22236277c2. So you can do a git pull and a nextflow -resume to copy the missing files.
Let me know.

[2020-08-20 23:42] yasukoh commented on #70
Yes, now I can see .bam and .bai files in alignment folders.
But I still cannot work reorganize.sh. I cannot run this script as a normal shell script and I got an error when trying to run with nextflow.
saying,
---
Script compilation error
- file : /master_of_pores-review/NanoPreprocessSimple/bin/reorganize.sh
- cause: expecting '(', found '[' @ line 3, column 4.
   if [ x"$1" == x ]; then
      ^

[2020-08-21 14:14] lucacozzuto commented on #70
Hi, the reorganize.sh actually works only for NanoPreprocess.
This is because you need in principle demultiplexed fast5 and fastq to be sent to NanoMod process and they are generated only in NanoPreprocess module.
Sorry for the inconvenience.

[2020-08-22 05:59] yasukoh commented on #70
Ouch, I had to do all over again..
OK. will do.
Thank you for your help.

yh

[2020-08-22 05:59] #70 closed, assigned to lucacozzuto

[2020-08-24 01:49] yasukoh opened #71 "guppy basecalling error"
Hi again, I am feeling like having a trouble in every steps....

I was trying to Nanopreprocess using guppy. and got an error.

---
Error executing process > 'baseCalling (guppy-fast5-0)'

Caused by:
  Process `baseCalling (guppy-fast5-0)` terminated with an error exit status (126)

Command executed:

  guppy_basecaller  --flowcell FLO-MIN106 --kit SQK-RNA002 --fast5_out  --input_path ./ --save_pa

[2020-08-24 04:43] yasukoh commented on #71
I apologize. I solved it myself.
Thanks anyway.

yh

[2020-08-24 04:43] #71 closed, assigned to nobody

[2020-08-24 09:58] ADelgadoT opened #72 "Awk command in basecalling process"
Command awk in the basecalling process (Nanopreprocess):
`awk '{if (NR%4==2) gsub(\"U\",\"T\"); print}'`

It fails when it encounters extremely long reads due to memory issues.

[2020-08-24 15:49] Huanle commented on #72
what do you mean by extrem long reads?
can you show an example?

[2020-08-25 06:41] ADelgadoT opened #73 "NanoMod - Process getModificationsWithTombo"
It runs correctly and it generates a valid output file (`*_Tombo_Output.tsv`). However, this output file is not moved to the output folder.

[2020-08-25 12:53] lucacozzuto commented on #73
Fixed in https://github.com/biocorecrg/master_of_pores/commit/40c174c5b86d820870d95b2f9d99f22aed3fc4fa

[2020-08-25 12:53] #73 closed, assigned to nobody

[2020-09-04 12:15] samir-watson opened #74 "fastqc not found Nanopreprocess"
Hi,

I am getting the following error when I try run NanoPreprocess:
.command.sh: line 2: fastqc: command not found
![image](https://user-images.githubusercontent.com/63302622/92238132-d7321c00-eeb8-11ea-8959-f1a4dec8e54f.png)

I have fastqc installed in the conda environment Im working with so im not sure what could be the problem.

Thanks

[2020-09-04 12:21] lucacozzuto commented on #74
Hi, we don't recommend using master of pores without containers. You can use singularity with -with-singularity

[2020-09-08 08:40] samir-watson commented on #74
Hi,
I tried to run it without conda and just using singularity but I keep getting the same error.  It seems there may be an issue with the singularity. I'll keep you updated if I get it to work. Do you have any suggestions on things to try to resolve this?

[2020-09-08 08:49] lucacozzuto commented on #74
This is quite strange. Can you verify if the singularity image is there and you can run it?

[2020-09-08 09:08] samir-watson commented on #74
Yes, I have two singularity images in the singularity directory
When I run the mopprepr image and call fastqc I get the following output
[cid:image001.png@01D685D0.5BD5AC30]

From: Luca Cozzuto <notifications@github.com>
Sent: 08 September 2020 10:50
To: biocorecrg/master_of_pores <master_of_pores@noreply.github.com>
Cc: Samir Watson <samirwatson@mbg.au.dk>; Author <author@noreply.github.com>
Subj

[2020-09-08 09:09] lucacozzuto commented on #74
I cannot see sorry :(

[2020-09-08 09:10] lucacozzuto commented on #74
PS: which version of singularity are you using?

[2020-09-08 09:35] samir-watson commented on #74
Im using version 3.5.2-1.1.e17

This is the message when I run fastqc in the singularity

(base) [samirwatson@fe1 singularity]$ ls
biocorecrg-mopbasecall-0.1.img  biocorecrg-mopprepr-0.6.img

(base) [samirwatson@fe1 singularity]$ singularity run biocorecrg-mopprepr-0.6.img
Singularity> fastqc
Exception in thread "main" java.awt.HeadlessException:
No X11 DISPLAY variable was set, but this program p

[2020-09-08 09:40] lucacozzuto commented on #74
It looks like is working (you should use fastqc -h or it will try to open a graphical pop up. We however use version 3.2.1 since the newer had some strange behavior.

[2020-09-23 14:50] NuriaDiaz commented on #25
Hey! Following a bit in the line of these comments, I think that I've found a typo in the new EpiNano release. In lines 252 and 265 from the nanopreprocess.nf file the "--input" parameter for Guppy should be "--input_path" instead, otherwise guppy reports the following error:

"Error processing command line: 'option '--input' is ambiguous and matches '--input_file_list', and '--input_path''.
 Miss

[2020-09-23 15:16] lucacozzuto commented on #25
Hi, I think there is a bit of confusion on tool names :) Guppy is used in NanoPreprocess. I think that command line was good for older version of guppy. So I changed the command line using -i that seems conserved across different versions. You can download the latest version using git pull. https://github.com/biocorecrg/master_of_pores/commit/ae2500aa57c2278047c5665f7f2c5d898033b3dd

[2020-09-28 05:43] lionelus opened #75 "Problem with the Nanomod pipeline"
Hi,

I tried to run Nanomod pipeline with the following command:

`nextflow run nanomod.nf --input_path "/media/Run/Nanopore/master_of_pores/" --comparison "/media/Run/Nanopore/master_of_pores/comparison.tsv" --reference "/media/Data/reference/mm10/primary_assembly/Mus_musculus.GRCm38.dna.primary_assembly.fa.gz" --tombo_opt "--num-bases 5" -with-docker -w /media/Run/work --epinano_opt "" -bg -resu

[2020-09-28 16:45] lucacozzuto commented on #75
Dear @lionelus, please upgrade the tool doing a git pull. The output of EpiNano will be published in the folder EpiNano.
Best,

Luca

[2020-09-29 09:28] lionelus commented on #75
Thank you very much.

I looked your nextflow script and I didn't see the SVM module of epinano which was in the previous script.

Is that normal ?

Best regards.

[2020-09-29 16:54] lucacozzuto commented on #75
Yes, we only stop at that step for the moment. But we will likely embed
more analysis in a future release.

Best,

L

Il mar 29 set 2020, 11:28 lionelus <notifications@github.com> ha scritto:

[2020-09-29 22:09] yasukoh opened #76 "problem with Nanomod"
Hi,

I tried NanoMod. But after index reference, it stops. Would you give me advice what to solve this?
command is "nextflow run nanomod.nf -with-docker", and it stops even I added -resume.

-----
email                                   :
[-        ] process > resquiggling         -
[-        ] process > getModifications     -
[-        ] process > index_reference      -
[-        ] process > call

[2020-09-30 17:27] lucacozzuto commented on #76
Hi, can you upgrade to the latest commit? I fixed that

[2020-09-30 17:28] #75 closed, assigned to nobody

[2020-10-01 12:46] yasukoh commented on #76
Hi,
I downloaded again from GitHub, and tried. But, it happens again.
Just download again wasn't enough?

yh

[2020-10-01 12:48] lucacozzuto commented on #76
I think you should do git pull if you did git clone.

[2020-10-01 15:28] albertoriva opened #77 "CUDA error in NanoPreprocess"
Hello,

I'm trying to run NanoPreprocess with guppy as the basecaller on our cluster system. I've installed the GPU guppy binaries in the correct place, but when I run the pipeline I get this error:

Command executed:

  export LD_LIBRARY_PATH="/usr/local/nvidia/lib:/usr/local/nvidia/lib64:/.singularity.d/libs"
  guppy_basecaller -x "cuda:0" --flowcell FLO-MIN106 --kit SQK-RNA002 --fast5_out  -i .

[2020-10-02 11:37] yasukoh commented on #76
Sorry, I meant git pull. I did updated by doing git pull and tried again, but stoped after index reference..

yh

[2020-10-02 11:43] lucacozzuto commented on #76
Please try again since we changed the name of some processes and call_variants is now named CallVariantsForEpinano. So if you don't see that, it means that the pull did not work.

[2020-10-02 12:37] NuriaDiaz opened #78 "join_results from NanoTail fails"
Hey!
I am experiencing issues in the last step of the NanoTail. The error I get is the following:

`Error in file(file, "rt") : cannot open the connection
  Calls: read.table -> file
  In addition: Warning message:
  In file(file, "rt") :
    cannot open file 'preprocess_output_wt': No such file or directory
  Execution halted`

As far as I understand, this is an R error. But I do not know how to

[2020-10-02 12:53] lucacozzuto commented on #78
Hi, can you send me the command line you used and the log of the execution?

[2020-10-02 12:56] NuriaDiaz commented on #78
Hi,

`nextflow run /home/diaz/master_of_pores/NanoTail/nanotail.nf -with-docker -resume
N E X T F L O W  ~  version 20.07.1
Launching `/home/diaz/master_of_pores/NanoTail/nanotail.nf` [sleepy_picasso] - revision: f311249b93
╔╦╗┌─┐┌─┐┌┬┐┌─┐┬─┐  ┌─┐┌─┐  ╔═╗╔═╗╦═╗╔═╗╔═╗
║║║├─┤└─┐ │ ├┤ ├┬┘  │ │├┤   ╠═╝║ ║╠╦╝║╣ ╚═╗
╩ ╩┴ ┴└─┘ ┴ └─┘┴└─  └─┘└    ╩  ╚═╝╩╚═╚═╝╚═╝

===========================================

[2020-10-02 13:03] lucacozzuto commented on #78
You can go inside the path /media/data/nuria/nanopore/Fabian/bcn_pipeline/preprocess_output_wt/fast5_files/work/b8/e5d69b6724b65c997573ce447d6847 and have a look at the input files there. Can you check the files and if they are empty?

[2020-10-02 13:06] NuriaDiaz commented on #78
In the folder there 2 files and the R script:
join.r
preprocess_output_wt.findr.len
preprocess_output_wt.nanopol.len

both files (findr.len and nanopol.len) have content

Note: every time I press resume the directory giving the issue is a different work one, but the error is the same (just in case this adds up info)

[2020-10-02 13:08] lucacozzuto commented on #78
and the content of .command.sh, please :)

[2020-10-02 13:09] NuriaDiaz commented on #78
Error in file(file, "rt") : cannot open the connection
Calls: read.table -> file
In addition: Warning message:
In file(file, "rt") :
  cannot open file 'preprocess_output_wt': No such file or directory
Execution halted

[2020-10-02 13:12] lucacozzuto commented on #78
No, this is not .command.sh.

[2020-10-02 13:14] NuriaDiaz commented on #78
How should I execute .command.sh? isn't it "bash .command.sh"?

[2020-10-02 13:15] lucacozzuto commented on #78
cat .command.sh. just to see the content

[2020-10-02 13:16] NuriaDiaz commented on #78
#!/bin/bash -ue
Rscript --vanilla join.r preprocess_output_wt.findr.len preprocess_output_wt.nanopol.len  preprocess_output_wt

[2020-10-02 13:41] lucacozzuto commented on #78
Ok, did you run the preprocess step turning on the gene count? This is mandatory for Nanomod. I think I have to raise a warning / exception in this case.

[2020-10-02 13:44] yasukoh commented on #76
After doing git pull,
message comes out like this,

executor >  local (1)
[-        ] process > resquiggling                 -
[-        ] process > getModifications             -
[29/a07be2] process > index_reference              [  0%] 0 of 1
[-        ] process > CallVariantsForEpinano       -
executor >  local (1)
[-        ] process > resquiggling                 -
[-        ] process > getMo

[2020-10-02 13:47] NuriaDiaz commented on #78
No, I did not turn on gene count during PreProcess because in the "nanopreprocess.nf" file it says that it is optional to perform it (line 502). Is this causing this error I report in NanoTail? -cause you now mention NanoMod and I am not there yet.
Should I use any specific parameters for counting?

[2020-10-02 13:50] lucacozzuto commented on #78
Sorry I said NanoMod but I intended NanoTail. It is said in the very first rows of the documentation:
https://github.com/biocorecrg/master_of_pores/blob/master/docs/nanotail.md

[2020-10-02 13:58] NuriaDiaz commented on #78
Oh wow, sorry, I completely missed that! If it is so important to run that it might be a good idea to include a warning when executing PreProcess.
Thank you so so much! I will re-run everything and how that I do not run into other errors :)

[2020-10-02 13:59] lucacozzuto commented on #78
No problem! Thanks for reporting this, I will keep this open and add a warning :)

[2020-10-06 14:39] albertoriva commented on #77
Actually this seems to be a local problem. Sorry for the noise.

[2020-10-07 08:56] NuriaDiaz commented on #76
Dear Luca,
I had the same issue and proceeded with the pull as indicated here. However, after pulling I still get the same error.

N E X T F L O W  ~  version 20.07.1
Launching `/home/diaz/master_of_pores/NanoMod/nanomod.nf` [zen_pare] - revision: ae4d8a4c65
╔╦╗┌─┐┌─┐┌┬┐┌─┐┬─┐  ┌─┐┌─┐  ╔═╗╔═╗╦═╗╔═╗╔═╗
║║║├─┤└─┐ │ ├┤ ├┬┘  │ │├┤   ╠═╝║ ║╠╦╝║╣ ╚═╗
╩ ╩┴ ┴└─┘ ┴ └─┘┴└─  └─┘└    ╩  ╚═╝╩╚═╚═╝╚═╝

========

[2020-10-07 09:05] lucacozzuto commented on #76
Yes. This a picard problem with parsing your transcriptome fasta file. I think the sequence Gt(ROSA)26Sor-204 is causing problems. Try to avoid names containing parenthesis or hyphens since some programs can have trouble.

[2020-10-08 01:21] carlshotwell opened #79 "Nanopreprocess error"
Hi below is the error I have been receiving and I can't seem to work my way around it. Any ideas on how I can fix this?
Thanks!

Caused by:
  Process `baseCalling (guppy-fast5_pass-3)` terminated with an error exit status (255)

Command executed:

  guppy_basecaller  --flowcell SQK-RNA002 --kit FLO-MIN106 --fast5_out  -i ./ --save_path ./3_out --cpu_threads_per_caller 1  $
  cat 3_out/*.fastq  | a

[2020-10-08 08:55] lucacozzuto commented on #79
Mmm, this looks like an error of Guppy basecaller. Which version are you using? @ADelgadoT can you help with this?

<<Could not find matching workflow for flowcell SQK-RNA002 and kit FLO-MIN106>>

L

[2020-10-08 09:03] enovoa commented on #79
Hi @carlshotwell I would suggest you try to run Guppy outside of MasterOfPores and see if that solves the problem. That will help understand what this error means

[2020-10-08 09:04] ADelgadoT commented on #79
Hi,

It seems that you input  flowcell=SQK-RNA002 and kit=FLO-MIN106. However, input in `params.config` file should be the other way around:
[code]

Could you try changing these parameters in the params.config file from NanoPreprocess and resume the execution?

[2020-10-08 09:05] #26 closed, assigned to Huanle, lucacozzuto

[2020-10-08 09:05] #21 closed, assigned to Huanle, lucacozzuto

[2020-10-08 09:07] enovoa commented on #49
This issue can be closed for the moment

[2020-10-09 19:44] carlshotwell commented on #79
Thank you for taking a look. I switched the flowcell and kit (dumb mistake on my part I apologize) and that didn't change the error. I believe what the issue is is that I am using a newer version of guppy (which was a module that was already preloaded on my cluster system)and am looking into that as the problem.

[2020-10-10 23:41] smoe opened #80 "Debian Med eager to complete Nanopore infrastructure"
Dear Luca,

Thank you tons for your efforts. Much applauded and appreciated!
On
https://docs.google.com/spreadsheets/d/1tApLhVqxRZ2VOuMH_aPUgFENQJfbLlB_PFH_Ah_q7hM/edit#gid=1806578173
we synchronize the packages that are working on to bring into Debian and its derivatives.

We are not there, yet, but you may find that there is some opportunity to simplify your dockerfiles here and there already. P

[2020-10-12 01:03] yasukoh commented on #76
Hi, any suggestions to do? I do not think my problem is different from this picard problem. I don't use "-" or "()" in the names. And index of reference is successfully finished. Any advice to try out would be very appreciated.
Thanks.

yh

[2020-10-12 12:05] NuriaDiaz commented on #76
Hey!
I'm also still having issues with Picard after changing the names of my reference and making sure that there aren't "-" or "()" in them.

Error executing process > 'index_reference'

Caused by:
  Process `index_reference` terminated with an error exit status (1)

Command executed:

  if [ `echo isoform-name_gencode.vM25.transcripts.fa | grep ".gz"` ]; then
    		zcat isoform-name_gencode.vM25

[2020-10-13 07:04] pl618 opened #81 "run with PBS cluster error"
Hi,

It's fine when I run the test file locally, however, when use PBS profile, it seems can't bind the singularity image envirment.

Here is the error message:

executor >  pbs (1)
[3a/860a69] process > testInput (multifast5_1.fast5) [  0%] 0 of 1
[-        ] process > baseCalling                    -
[-        ] process > concatenateFastQFiles          -
[-        ] process > QC

[2020-10-13 10:27] lucacozzuto commented on #80
Thanks! We have a plan to simplify / remove some of the docker containers in future.

[2020-10-13 10:27] #80 closed, assigned to nobody

[2020-10-13 10:32] lucacozzuto commented on #81
Hi. Not sure what are you doing :) So you are downloading the images by yourself and changing the names?

Why you are using a different image for testInput?

L

[2020-10-13 10:34] lucacozzuto commented on #76
Hi, are you using docker or singularity? Which versions?
L

[2020-10-13 10:34] #49 closed, assigned to nobody

[2020-10-13 10:36] lucacozzuto commented on #74
Hi, can we consider closed this issue?

[2020-10-13 10:37] lucacozzuto commented on #72
Sequences are represented as one line. So when they are Mb long awk fails. We should replace this script with something different.

[2020-10-13 11:20] NuriaDiaz commented on #76
Hi,
I'm using docker:

Client: Docker Engine - Community
 Version:           19.03.13
 API version:       1.40
 Go version:        go1.13.15
 Git commit:        4484c46d9d
 Built:             Wed Sep 16 17:02:52 2020
 OS/Arch:           linux/amd64
 Experimental:      false

Server: Docker Engine - Community
 Engine:
  Version:          19.03.13
  API version:      1.40 (minimum version 1.12)
  Go

[2020-10-13 11:36] lucacozzuto commented on #76
Hi, I'm using the version 19.03.13 on my mac and I cannot reproduce the error.

Can you do:

[code]

L

[2020-10-13 11:42] NuriaDiaz commented on #76
This is the output:

WARNING: Your kernel does not support swap limit capabilities or the cgroup is not mounted. Memory limited without swap.
PICARD=java -jar /usr/local/bin/picard.jar

[2020-10-13 12:03] pl618 commented on #81
The images works locally but not PBS cluster. I have tested both downloaded images and images made by myself. They behave the same way.  Downloading guppy package needs accounts of nanopore, but using these codes can install too. So I can make a singularity image to run guppy without download it.

[code]

Have you run master of pores with PBS cluster or other clusters and with singularity images?

[2020-10-13 12:07] lucacozzuto commented on #76
So I don't get it. You correctly see the PICARD variable in your image. I'll investigate more. In the meanwhile can you use singularity?

[2020-10-13 12:13] lucacozzuto commented on #81
Yes I use singularity images on our HPC. They are made on the fly by Nextflow converting our docker images from dockerhub using the Nextflow -with-singularity option. They are then stored in a folder named singularity and can be reused. But the problem you have is different. You are making a new image called basic_bin_py3.simg that is giving you errors. I recommend you to use our images, they are

[2020-10-13 12:17] pl618 commented on #81
OK, thanks a lot. I'll try it later.

[2020-10-13 12:17] #81 closed, assigned to nobody

[2020-10-13 12:19] NuriaDiaz commented on #76
okey thanks! let me know when I can continue using docker.
Would switching to singularity solve this issue?

[2020-10-13 12:21] lucacozzuto commented on #76
I think so. Moreover if you need to run this pipeline on a HPC, this is the best way to do so.

[2020-10-14 10:19] NuriaDiaz commented on #76
Hey Luca,
sorry to post again, but still having issues when running with Singularity.

Error executing process > 'index_reference'

Caused by:
  Failed to pull singularity image
  command: singularity pull  --name biocorecrg-mopmod-0.5.img docker://biocorecrg/mopmod:0.5 > /dev/null
  status : 127
  message:
    WARNING: pull for Docker Hub is not guaranteed to produce the
    WARNING: same image o

[2020-10-14 10:29] lucacozzuto commented on #76
Hi Nuria,
Which version of singularity are you using?

Luca

[2020-10-14 10:33] NuriaDiaz commented on #76
I'm using: 2.6.1-HEAD.9103f0155

[2020-10-14 10:35] lucacozzuto commented on #76
So it is not finding python apparently. Look here:
https://github.com/hpcng/singularity/issues/1269
however, if you use the version 3.2.1 they don't need python anymore

[2020-10-14 10:35] NuriaDiaz commented on #76
Perfect! Then I'll change the version and try again. Thanks a lot!

[2020-10-14 23:51] yasukoh commented on #76
Hi,
Any suggestions to my problem? I don't think the same problem, but you think I also try singularity?
Thank you so much for your help.

yh

[2020-10-15 09:01] lucacozzuto commented on #76
Hi @yasukoh, which error do you get? Can you show me your log?

L

[2020-10-15 13:26] yasukoh commented on #76
Hi, it just stops after index of reference as if everything is done.

Here is the log.

---
╔╦╗┌─┐┌─┐┌┬┐┌─┐┬─┐  ┌─┐┌─┐  ╔═╗╔═╗╦═╗╔═╗╔═╗
║║║├─┤└─┐ │ ├┤ ├┬┘  │ │├┤   ╠═╝║ ║╠╦╝║╣ ╚═╗
╩ ╩┴ ┴└─┘ ┴ └─┘┴└─  └─┘└    ╩  ╚═╝╩╚═╚═╝╚═╝

====================================================
BIOCORE@CRG NanoDirectRNA. Detection of modification and polyA length (RNA) - N F  ~  version 0.1
========================

[2020-10-15 13:37] lucacozzuto commented on #76
Hi, I see
[code]
Are you sure of the input path?
can it be ../NanoPreProcess/ instead of ./NanoPreProcess/ ?

L

[2020-10-15 14:03] yasukoh commented on #76
Hi,

Yes,, you are right. Such a careless miss. I'm embarrassed. I am very sorry.
I see now log saying "No such file".

Thank you so much for your help.

yh

[2020-10-15 14:03] #76 closed, assigned to nobody

[2020-10-15 22:57] andrew-d-l-nelson opened #82 "NanoPreprocess error (error exit status 127)"
Hi all,
We are trying to get our Nanopore data processed using the following code: sudo nextflow run nanopreprocess.nf -with-singularity (we have also tried Docker).

We get the following error:
[code]

We can run guppy_basecaller directly on these data and it works great. We have also tried singularity 3.6.2, no luck. We have tried it with sim linked guppy files in the NanoPreprocess/bin/ folder

[2020-10-16 15:10] vgori opened #84 "Questions regarding to proper use"
Dear authors,
we would really appreciate your suggestions on the following points on how to properly use the "master_of_pores" pipeline.

We have installed the Master of Pores, and performed the nanopreprocess step, and now we are quite puzzled how to correctly configure NanoMod, which uses Tombo and Epinano to identify the potential RNA-Modifications between two samples. In our case, exposed to r

[2020-10-16 16:07] enovoa commented on #84
Hi @vgori

Thanks for your interest in MoP. With regards to your specific questions:

1. Please take a look at the NanoMod MasterOfPores documentation: https://biocorecrg.github.io/master_of_pores/nanomod.html, all details of inputs and outputs are explained there. The inputs are the folders.
2. The comparison.tsv is the folder names that are used as input. The path is defined in a separate variab

[2020-10-17 12:21] andrew-d-l-nelson commented on #82
Ah, apparently it just doesn't want to work with Guppy 4.2.2. When I went back to the one listed in the tutorial (3.1.5) it worked just fine. Perhaps this has to do with some changes that Nanopore made to Guppy recently (such as the new cpu vs gpu guppy installs)?

[2020-10-17 12:25] lucacozzuto commented on #82
I thinl @ADelgadoT is using thst version. I think you might have another problem. Did you place the executables as indicated in the tutorial

[2020-10-17 14:32] andrew-d-l-nelson commented on #82
Yup, I created the simlink, as suggested. However, when I specifically installed the 3.1.5 version of guppy and simlinked it into the masterofpores/NanoPreprocess/bin/ folder it works just fine. So this issue is "sort of" resolved? but not with newer guppy.

To be clear, I downloaded and installed the 4.2.2 GPU version of guppy (they now have two versions I suppose). Having guppy 4.2.2 in PATH or

[2020-10-17 14:33] lucacozzuto commented on #82
You should place the folder in the bin of Nanopreprocess and make the links. Not from outside.

[2020-10-19 15:40] andrew-d-l-nelson commented on #82
Hi Luca,
Definitely did both (4.2.2 for GPU. in the NanoPreprocessbin folder, extract, create simlink; as well as 4.2.2 installed and ready to go directly from the root/bin). Only worked for me when I went back to 3.1.5. But it's working, so not a big deal.

[2020-10-19 15:42] lucacozzuto commented on #82
Thanks but I would really understand why is not finding the executables only for 4.2.2... @ADelgadoT are you using the new guppy version?

[2020-10-19 16:03] ADelgadoT commented on #82
I'm using guppy 4.0 and it is working nicely. I haven't tried guppy 4.2.2.

[2020-10-19 16:11] lucacozzuto commented on #82
Can we try 4.2.2 too?

[2020-10-19 16:13] enovoa commented on #82
I would suggest if @andrew-d-l-nelson can try 4.0, rather than us trying 4.2.2. It works in our hands.

[2020-10-19 23:53] andrew-d-l-nelson commented on #82
I will give it a try and let you all know.

[2020-10-20 09:56] NuriaDiaz commented on #76
Dear Luca,
After installing singularity and re-running the command I get the exact same error than with Docker:

"Command error:
  .command.sh: line 7: PICARD: unbound variable"

The log is exactly the same than the one I've already posted. I'm running with singularity version 3.6.4.
Thanks a lot for your help!

Best,
Núria

[2020-10-20 10:04] lucacozzuto commented on #76
Mmm. Sorry do you have defined a variable named PICARD in you .bashrc or in your .bash_profile? This is quite strange since I cannot reproduce the error.
A quick way to fix is to replace in the Nanomod code the variable \$PICARD with its content (java -jar /usr/local/bin/picard.jar).
Please let me know if it works.

L

[2020-10-20 10:34] NuriaDiaz commented on #76
Hi,
I went for the quick fix and it didn't work. Did I substitute it wrongly?

Error executing process > 'index_reference'

Caused by:
  Process `index_reference` terminated with an error exit status (1)

Command executed:

  if [ `echo isoform-name_gencode.vM25.transcripts.fa | grep ".gz"` ]; then
     you can repzcat isoform-name_gencode.vM25.transcripts.fa > reference.fa
  else
         ln -s i

[2020-10-20 10:35] lucacozzuto commented on #76
Hi, can you send me the whole log?

L

[2020-10-20 10:50] NuriaDiaz commented on #76
N E X T F L O W  ~  version 20.07.1
Launching `/home/diaz/master_of_pores/NanoMod/nanomod.nf` [awesome_babbage] - revision: 99d42aba01
╔╦╗┌─┐┌─┐┌┬┐┌─┐┬─┐  ┌─┐┌─┐  ╔═╗╔═╗╦═╗╔═╗╔═╗
║║║├─┤└─┐ │ ├┤ ├┬┘  │ │├┤   ╠═╝║ ║╠╦╝║╣ ╚═╗
╩ ╩┴ ┴└─┘ ┴ └─┘┴└─  └─┘└    ╩  ╚═╝╩╚═╚═╝╚═╝

====================================================
BIOCORE@CRG NanoDirectRNA. Detection of modification and polyA length (RNA) - N

[2020-10-20 10:52] lucacozzuto commented on #76
also the command line please.

[2020-10-20 10:53] lucacozzuto commented on #76
the very first row of the .nextflow.log file

[2020-10-20 11:32] NuriaDiaz commented on #76
#!/bin/bash
# NEXTFLOW TASK: index_reference
set -e
set -u
NXF_DEBUG=${NXF_DEBUG:=0}; [[ $NXF_DEBUG > 1 ]] && set -x
NXF_ENTRY=${1:-nxf_main}

nxf_date() {
    local ts=$(date +%s%3N);
    if [[ ${#ts} == 10 ]]; then echo ${ts}000
    elif [[ $ts == *%3N ]]; then echo ${ts/\%3N/000}
    elif [[ $ts == *3N ]]; then echo ${ts/3N/000}
    elif [[ ${#ts} == 13 ]]; then echo $ts
    else echo "Unexpect

[2020-10-20 11:36] lucacozzuto commented on #76
Ehm no. When you launch nanomod.nf you'll create a hidden file called .nextflow.log can you send me that one?

[2020-10-20 11:47] NuriaDiaz commented on #76
Oct-20 12:30:52.449 [main] DEBUG nextflow.cli.Launcher - $> nextflow run /home/diaz/master_of_pores/NanoMod/nanomod.nf --with singularity
Oct-20 12:30:52.586 [main] INFO  nextflow.cli.CmdRun - N E X T F L O W  ~  version 20.07.1
Oct-20 12:30:52.599 [main] INFO  nextflow.cli.CmdRun - Launching `/home/diaz/master_of_pores/NanoMod/nanomod.nf` [awesome_babbage] - revision: 99d42aba01
Oct-20 12:30:52.6

[2020-10-20 11:50] lucacozzuto commented on #76
Ok, there is a problem with the way you launch the pipeline. It is

nextflow run /home/diaz/master_of_pores/NanoMod/nanomod.nf -with-singularity

--with-singularity

You are not using the containers in this way.

[2020-10-29 23:01] almreis opened #85 "cxcccxc--pπP:?"…"

[2020-10-29 23:01] almreis opened #86 "09chxj/"

[2020-10-30 02:01] #85 closed, assigned to nobody

[2020-10-30 03:12] #86 closed, assigned to nobody

[2020-11-13 20:03] aksti commented on #77
Dear Alberto,
Did you solve the problem with error:
[guppy/error] *Common::LoadModuleFromFatbin: Loading fatbin file shared.fatbin failed with: CUDA error at /builds/ofan/ont_core_cpp/ont_core/common/cuda_common.cpp:54: CUDA_ERROR_NO_BINARY_FOR_GPU

My workstation has the new RTX3080 GPU. I am using docker with nivdia docker toolkit so that I can use CUDA 11, but guppy does not work either. :-(

T

[2020-11-17 10:20] hqs10 opened #87 "Problems in starting the NanoPreprocess"
Hi all,

Please let me know your thoughts on fixing the following error, which I got after attempting to start NanoPreprocessing:

[21/41cfba] process > testInput (MasterIn_fast5) [  0%] 0 of 1
[-        ] process > baseCalling                -
[-        ] process > concatenateFastQFiles      -
[-        ] process > QC                         -
[-        ] process > fastQC                     -
[-

[2020-11-17 10:21] lucacozzuto commented on #87
Dear @hqs10, can you send me your command line, please?

[2020-11-17 10:24] hqs10 commented on #87
Thanks for the fast reply, Luca.

Please see below:

/media/localarchive/master_of_pores/NanoPreprocess# nextflow run nanopreprocess.nf -with-docker
N E X T F L O W  ~  version 20.07.1
Launching `nanopreprocess.nf` [romantic_nightingale] - revision: 9b1fb78da4
╔╦╗┌─┐┌─┐┌┬┐┌─┐┬─┐  ┌─┐┌─┐  ╔═╗╔═╗╦═╗╔═╗╔═╗
║║║├─┤└─┐ │ ├┤ ├┬┘  │ │├┤   ╠═╝║ ║╠╦╝║╣ ╚═╗
╩ ╩┴ ┴└─┘ ┴ └─┘┴└─  └─┘└    ╩  ╚═╝╩╚═╚═╝╚═╝

======

[2020-11-17 10:30] lucacozzuto commented on #87
Ok, so you are indicating a folder as fast5 input. You should indicate fast5 files. See the example here:
[code]

https://github.com/biocorecrg/master_of_pores/blob/master/NanoPreprocess/params.config

Moreover the basecaller parameter can be either guppy or albacore. You indicate "program.albacore" that is not recognized.

[2020-11-17 10:50] hqs10 commented on #87
Thanks, Luca.

After editing the params.config accordingly it fixed the previous error
But I faced a new one regarding the base-calling process. However, I have installed the albacore executive file inside the bin directory of NanoPreProcess. Please see the error below:

N E X T F L O W  ~  version 20.07.1
Launching `nanopreprocess.nf` [gigantic_heisenberg] - revision: 9b1fb78da4
╔╦╗┌─┐┌─┐┌┬┐┌─┐┬─

[2020-11-17 10:53] lucacozzuto commented on #87
Dear @hqs10, have you followed all the instructions here?
https://github.com/biocorecrg/master_of_pores/blob/master/docs/install.md#b-albacore

please let me know if it works or not

[2020-11-17 11:52] hqs10 commented on #87
Dear @lucacozzuto

I have followed several times the installation guide of MoP, and tried different versions of Guppy (3.1.5, and 4.2.2). We have compatible 2x of GPU RTX 2080 ti and successfully installed CUDA drivers. And each time I got an error.

Please see below the error report of my recent attempt to run nanopreprocess using Guppy 3.1.5.

(base) root@phe-a280025x9812321:~/master_of_pores/Na

[2020-11-17 11:58] lucacozzuto commented on #87
Hi,
the error I see is  ```.command.sh: line 2: guppy_basecaller: command not found```.
Can you show me the content of your NanoPreprocess/bin/ folder, please?

[2020-11-17 12:01] hqs10 commented on #87
Dear @lucacozzuto

Sure. Please see the screenshot of ../bin/ directory below:

![image](https://user-images.githubusercontent.com/60135958/99387913-aa44b100-28cc-11eb-84c8-30935d8622d8.png)

[2020-11-17 12:06] lucacozzuto commented on #87
I see that the command ```ln -s ont-guppy_3.1.5_linux64/ont-guppy/bin/guppy_* .```  is giving you a broken link, because the folder where you have guppy is named ont-guppy. Can you do the link in this way?

```ln -s ont-guppy/ont-guppy/bin/guppy_* .``` or change the name of the folder accordingly.

[2020-11-17 12:28] hqs10 commented on #87
Dear @lucacozzuto,

Unfortunately, it yielded no result.

I have renamed the directory "ont-guppy" to "ont-guppy_3.1.5_linux64", and then executed `ln -s ont-guppy_3.1.5_linux64/ont-guppy/bin/guppy_* .`

Afterwards, I started nanopreprocess and got the error as before.

[2020-11-17 12:31] lucacozzuto commented on #87
I got it. I think you should create a folder named guppy_3.1.5_linux64 and move the ont-guppy inside it. Inside you should have a bin folder and these files:
- guppy_aligner
- guppy_barcoder
- guppy_basecaller
L

[2020-11-17 12:50] hqs10 commented on #87
Dear @lucacozzuto ,

It seems that your recommendations helped me to fix the error `.command.sh: line 2: guppy_basecaller: command not found.`

However, I faced new error  `Could not find matching workflow for flowcell FLO-MIN106D and kit SQK-RNA002`

Please see below more detailed:

(base) root@phe-a280025x9812321:~/master_of_pores/NanoPreprocess# nextflow run nanopreprocess.nf -with-docker
N E X

[2020-11-17 12:53] lucacozzuto commented on #87
This looks like this problem:
https://github.com/biocorecrg/master_of_pores/issues/79
You should change the parameters according to the version of guppy you are using and the kind of sequencing you are doing.

[2020-11-17 13:02] hqs10 commented on #87
Dear @lucacozzuto ,

Thank you very much for your help today. It seems that guppy did not recognise the "FLO-MIN106D" input parameter. I have put FLO-MIN106 instead, and it seems to be working!

[2020-11-17 13:03] lucacozzuto commented on #87
Good! Let me know if everything goes well!
Best,

L

[2020-11-17 13:03] #87 closed, assigned to lucacozzuto

[2020-11-17 18:27] hqs10 commented on #76
Dear @yasukoh,

Please let me know have you managed to overcome that issue with the nanomod?

Thanks.

[2020-11-17 18:42] hqs10 opened #88 "NanoMod issues: Stops at index_reference"
Dear all,
Dear @lucacozzuto ,

I would really appreciate your assistance in solving the following issue, which occurred when I tried to run NanoMod.

Please see the issue below.

(base) root@........:/media/localarchive/master_of_pores/NanoMod# nextflow run nanomod.nf -with-docker
N E X T F L O W  ~  version 20.07.1
Launching `nanomod.nf` [modest_carlsson] - revision: ae4d8a4c65
╔╦╗┌─┐┌─┐┌┬┐┌─┐┬─┐

[2020-11-17 18:44] lucacozzuto commented on #88
Hi, can you show me the content of comparison.tsv and the content of the folder /media/localarchive/MasterOut, please?

[2020-11-17 18:48] hqs10 commented on #88
@lucacozzuto, Thanks for the fast reply!
Sure.

Please see below the content of comparison.tsv:
![image](https://user-images.githubusercontent.com/60135958/99433394-5dc99780-2905-11eb-958f-6d54b0a5d668.png)

Please see below the content of MasterOut:
![image](https://user-images.githubusercontent.com/60135958/99433503-7f2a8380-2905-11eb-86e1-4bd985197f4f.png)

[2020-11-17 18:52] lucacozzuto commented on #88
Ok so please have a look at the documentation here:
https://biocorecrg.github.io/master_of_pores/nanomod.html
In brief you need to run nanoPreprocess on the two datasets and generate two different outputs (i.e. two folders) and then you can use nanomod to make comparison between them.

L

[2020-11-17 19:17] hqs10 commented on #88
Thanks for sharing that. I have read the documentation https://biocorecrg.github.io/master_of_pores/nanomod.html
and it was clear that we need to work with two data sets (i.e. to compare control/exp).

Just to clarify the main steps:
1) I run nanopreprocess for .fasta5 files from experimental and control samples (e.g. WT and KO) separately from each other (step-by-step). As result, two or more dif

[2020-11-17 19:21] lucacozzuto commented on #88
Yes it is fine

L

Il mar 17 nov 2020, 20:17 Stan <notifications@github.com> ha scritto:

[2020-11-17 23:56] yasukoh commented on #76
Hi hqs10,

Mine was my careless miss. The path to input files I wrote on config file was wrong.
I think the names of directory were slightly different (typo or something).
That's why the log says "DEBUG nextflow.Nextflow - No such file: cont1/fast5_files/ -- Skipping visit"

Hope this helps.

yh

[2020-11-20 14:12] hqs10 commented on #88
Dear @lucacozzuto , everything worked perfectly. Thank you so much for your advice.

[2020-11-20 14:13] #88 closed, assigned to lucacozzuto

[2020-11-20 14:14] lucacozzuto commented on #88
You are welcome!

[2020-11-23 16:32] hqs10 opened #89 "#QUESTION: to detect m6A RNA modifications"
Dear all, Dear @lucacozzuto,

I am happy to inform that sample comparison Tombo model worked perfectly on our data set.

However, we also need to use `tombo detect_modifications alternative_model` with the `--alternate-bases 5mC 6mA` option.
Please let me know, do you have any "nanomod.nf" available, which is set on these model and params?

How can we limit nonamod to search for modifications amon

[2020-11-23 17:25] ADelgadoT commented on #89
Hi Stan,

Currently NanoMod can not be limited to specific kmers. However, if you want to add these modifications, you can submit a pull request and we'd be happy to incorporate these changes.

Thank you,

Anna

[2020-11-23 19:41] hqs10 commented on #89
Thanks for the reply, Anna!

Sure. If we are successful in modifying NanoMod to search for specific kmers, we would be happy to submit the pull-request.

Please let me also know, did you try the following tombo method
`tombo detect_modifications alternative_model` with the `--alternate-bases 5mC 6mA`?

Best regards,

Stan

[2020-11-26 15:04] LubosBauer opened #90 "master of pores QC fail"
Dear creators,
I have the following error message after running master of pores
[12/bfef22] NOTE: Process `alnQC2 (huCD70)` terminated with an error exit status (127) -- Error is ignored
Also 2 failed processes
Is there a way to fix it? Are those serious errorrs?
Thank you for the answer

(base) sequencing@ethbeni-seq001:~/master_of_pores/NanoPreprocess$ nextflow run nanopreprocess.nf --basecaller

[2020-11-26 18:07] lucacozzuto commented on #90
Hi, this is likely a problem with the quality of the mapped data. Sometimes the QC fails
also for other reasons. You can check inside the folder work/12/bfef22* the content of the .command.log

[2020-11-27 08:09] LubosBauer commented on #90
Hi Luca
Thank you for the quick answer

[2020-12-08 16:11] eylenth opened #91 "How to install extra apt packages easily in biocorecrg-mopbasecall"
Hello
A bioscientist is trying to execute the following command from the NanoPreprocess directory:
`nextflow run nanopreprocess.nf -with-singularity`

But then we see the following error
`guppy_basecaller: error while loading shared libraries: libssl.so.10: cannot open shared object file: No such file or directory`
which means that some apt packages are missing in the biocorecrg-mopbasecall-0.1 co

[2020-12-08 16:15] lucacozzuto commented on #91
Hi, I don't know if we tested that version. Can you try with the version we described in the paper? If you still have the problem is likely another kind of problem.

@ADelgadoT did you tested the version 4.0.11?

[2020-12-08 18:50] andrew-d-l-nelson commented on #82
You can access the old binaries by using the same code, but substituting
out for the correct version. For instance, I used the following to get
3.1.5.

wget
https://mirror.oxfordnanoportal.com/software/analysis/ont-guppy_3.1.5_linux64.tar.gz

On Tue, Dec 8, 2020 at 12:21 PM Koushik Muralidharan <
notifications@github.com> wrote:

--

Assistant Professor
Boyce Thompson Institute
533 Tower Road
Itha

[2020-12-08 19:38] ADelgadoT commented on #91
I tested version 4.0.15 and it worked. I did not test 4.0.11.

[2020-12-09 08:01] lucacozzuto commented on #91
If someone can pass me the newest version I can test it

L

Il mar 8 dic 2020, 20:38 ADelgadoT <notifications@github.com> ha scritto:

[2020-12-09 10:09] eylenth commented on #91
I'm using the rpm installation to install guppy on my client server. I don't know if this matter?

[2020-12-10 15:17] eylenth commented on #91
Hi it seems to be working when I use the tarball of guppy instead of the rpm version.
But I also needed to modifiy the following file:
$MASTEROFPORESINSTALL/NanoPreprocess/nanopreprocess.nf
modified
`            gpu_prefix = 'export LD_LIBRARY_PATH="/usr/local/nvidia/lib:/usr/local/nvidia/lib64:/.singularity.d/libs"'`
to
`            gpu_prefix = 'export LD_LIBRARY_PATH="/usr/local/nvidia/lib:/usr

[2020-12-10 16:16] #74 closed, assigned to nobody

[2020-12-10 16:27] lucacozzuto commented on #91
I don't understand. Have you placed the guppy folder inside bin in NanoPreprocess?
Like here:
[code]
you should have bin, data e lib folders. Then once you make links like here:

[code]

it should automatically mount the lib ...

[2020-12-10 16:46] eylenth commented on #91
It didn't work for me..
[code]

[2020-12-10 16:49] lucacozzuto commented on #91
what is inside ont-guppy folder?

L

[2020-12-10 16:50] eylenth commented on #91
[code]

[2020-12-10 16:56] lucacozzuto commented on #91
and inside lib?

[2020-12-10 16:58] lucacozzuto commented on #91
so the structure I have is:
[code]
is the same you have for the newer version?

[2020-12-10 16:59] eylenth commented on #91
[code]

[2020-12-10 17:00] eylenth commented on #91
my structure looks like this
`ls NanoPreprocess/bin/ont-guppy/lib/`
and We have guppy 4.2.2

[2020-12-10 17:01] lucacozzuto commented on #91
ok so this is the problem I think. Make another folder named ont-guppy_4.2.2_linux64 and put ont-guppy inside to recreate the structure we have. Then make the soft links and try again

L

[2020-12-10 17:04] eylenth commented on #91
It won't work either:
[code]

[2020-12-10 17:08] lucacozzuto commented on #91
No but the missing libraries are in the container, so it is should be ok. Try to launch MoP. My ldd shows that these libraries are missing for me too.

[2020-12-11 10:12] eylenth commented on #91
Seems to be working with this procedure.

[2020-12-14 09:31] eylenth commented on #91
maybe can you clearly document on the installation procedure that you have to use the tarball of guppy and not the rpm one.
and copy the tarball to this exact location and not another location.

[2020-12-14 09:34] lucacozzuto commented on #91
Hi, here the documentation about the installation. https://biocorecrg.github.io/master_of_pores/install.html
Feel free to suggest any modifications.

[2020-12-14 09:39] eylenth commented on #91
c) Guppy
Please note Guppy versions older than 3.1 (e.g. 3.0.3) only runs on CPUs. Newer versions (e.g. 3.1.5 and above) works on both CPUs and GPUs. The difference of speed between CPUs and GPU is more than 10 times.
Please do not use the rpm of Guppy, you have to use the tarball of Guppy.

[code]

[2020-12-14 09:43] lucacozzuto commented on #91
Ok, I added a note. Thanks for this advice! https://github.com/biocorecrg/master_of_pores/commit/f02a076f03d25060b9f57d977a5c349c9c8b108d

[2020-12-14 09:43] #91 closed, assigned to lucacozzuto, ADelgadoT

[2020-12-24 15:39] callumparr commented on #65
Sorry to clarify transcriptome is expected? I checked Tombo, it is advised to use transcriptome. I also was looking for EpiNano and again transcriptome is expected I believe unless the species as view few splice events in which case genome can be used.

[2021-01-07 16:35] clsgithubusr opened #92 "NanoCount: error: unrecognized arguments: NanoCount"
Hello
Our MasterOfPores user is trying to use the NanoCount option in the counter_opt parameters.

But then she received the following error when running her pipeline:

[code]

the `NanoCount -i fast5.minimap2.sorted.bam -o fast5.count NanoCount; ` command is generated from  the nanopreprocess.nf file
it is also using the biocorecrg-mopprepr-0.6.img container to run the commands.

[2021-01-14 15:04] eylenth commented on #92
@lucacozzuto or @ADelgadoT , do you have any suggestions on this ?
We will probably need to modify the Nanocount parameter or we need to use another version of the biocorecrg-mopprepr img container.

[2021-01-14 15:45] ADelgadoT commented on #92
Hi,

To use NanoCount in MoP, you don't need to write _NanoCount_ in the counter_opt parameter in the `params.config` file. MasterOfPores will run NanoCount if you are mapping to the transcriptome and the counter parameter is YES.

Your params.config file should contain the following lines to run NanoCount:
[code]

The parameter counter_opt is used to introduce additional parameters to NanoCount c

[2021-01-15 13:12] eylenth commented on #92
Hi Anna

THe end user reported that is now working for her with those settings.

The ticket can be closed.

[2021-01-18 08:31] cgjosephlee commented on #33
Hi Luca,
Is the 'review' branch deleted or moved? Starting from fastq files is really helpful.
Thank you.

[2021-01-18 08:58] lucacozzuto commented on #33
Hi, that branch was highly unstable and experimental. We will likely post an upgrade soon.

[2021-02-01 12:45] manburst opened #93 "Could not install albacore"
Hello sir
I try to install albacore follow by your installation instruction
which is
`git clone --depth 1 https://github.com/biocorecrg/master_of_pores.git`
and then
`cd master_of_pores/NanoPreprocess/bin`
Now here the problem
`ip3 install --target=./albacore ont_albacore-2.1.7-cp36-cp36m-manylinux1_x86_64.whl`
The error message said that
`ERROR: Could not install packages due to an EnvironmentErr

[2021-02-01 12:48] lucacozzuto commented on #93
Dear @manburst, because of redistribution restriction of the basecallers Albacore and Guppy we cannot provide them inside the docker image, so you would need to download the binaries from the official website https://nanoporetech.com and place them inside the master_of_pores/NanoPreprocess/bin folder. For installing Guppy you need to install the tarball file.

[2021-02-02 12:45] manburst commented on #93
Oh, thanks for replying. I got guppy by using `sudo apt install ont-guppy`  Do I have to move them to bin folder or not?

[2021-02-02 12:47] lucacozzuto commented on #93
You need to download the tarball version sorry. Then You can follow the documentation.

[2021-02-04 14:04] manburst commented on #93
Sir, I have installed albacore and try to run with the mini test dataset. I have many questions right now
1. I have installed nextflow already but it is not in the nanopreprocess folder so I have moved them to the folders, do I have to move them again when I want to run nanomod and nanotail?
2. I have tried with this command
`./nextflow run nanopreprocess.nf –basecaller albacore –seqtype cDNA –fas

[2021-02-04 14:16] lucacozzuto commented on #93
Hi,
1. nextflow can be outside. I would add it to the $PATH
2. you need to specify the parameters using two "-"  (--) so:  –-basecaller and not  –basecaller. One "-" allows specifying nextflow parameters.
3. you can change the resources changing the file nextflow.global.config

[2021-02-05 10:02] lucacozzuto commented on #87
Hi, you should use either docker or singularity container. Apparently you are running without -with-singularity or -with-docker parameter.

[2021-02-05 10:07] #92 closed, assigned to nobody

[2021-02-05 10:07] #90 closed, assigned to lucacozzuto

[2021-02-05 14:58] manburst commented on #93
Sir, another question, please.
I have troubled to target fast5 file in my directory it only detects a single fast5 in my directory
`--fast5 /home/jirachote/test-datasets/fast5/nonbarcoded/*`
Here it will show
single fast5 detect
`fast5                     : /home/jirachote/test-datasets/fast5/nonbarcoded/GISPC970_20180731_FAJ05143_MN20082_sequencing_run_310718_MCF7_mRNA_directcDNA_37492_read_7_ch_

[2021-02-05 14:59] lucacozzuto commented on #93
--fast5 "/home/jirachote/test-datasets/fast5/nonbarcoded/*.fast5" should work

[2021-02-05 15:54] manburst commented on #93
Thank you, sir! Now, it worked perfectly.
I am continuing with nanotail process with results from the DNA dataset of nanopreprocess. Do I have to install the nanopolish and tailfindr?
Because I already run them and it gives me an error as expected
[code]
The line 303 of nanotail.nf is
`sendMail(to: params.email, subject: "Master of Pore execution", body: msg)`

[2021-02-05 17:08] lucacozzuto commented on #93
No you don't need to install anything. Docker is enough. The error is just related to the mail system that is failing. So it is not the problem here. Have you read the documentation here https://biocorecrg.github.io/master_of_pores/nanotail.html ? You need to run nanopreprocess setting --counting "YES" since you need to assign each read to a gene. You can rerun nanopreprocess adding this parameter

[2021-02-05 17:59] manburst commented on #93
Edit I have run resume the test
`./nextflow run nanopreprocess.nf -with-docker --basecaller guppy --seq_type "DNA" --fast5 "/home/jirachote/test-datasets/fast5/nonbarcoded/*.fast5" --demultiplexing "OFF" --map_type "spliced" --mapper_opt "-uf -k14" --reference /home/jirachote/hg19_KCMF1.fa --mapper minimap2 --ref_type "genome" --filter nanofilt --filter_opt "-q 0 -headcrop 5 -tailcrop 3 -readtype

[2021-02-07 10:00] manburst commented on #93
Sir, could you please check my command line again
I think this command that complete job successful at that time, it can detect all fast5 file in my directory
`./nextflow run nanopreprocess.nf -with-docker --basecaller guppy --seq_type DNA --fast5 "/home/jirachote/nonbarcoded/*.fast5" --demultiplexing "OFF" --map_type spliced --mapper_opt "-uf -k14" --reference "/home/jirachote/hg19_KCMF1.fa" --ma

[2021-02-08 12:39] lucacozzuto commented on #93
Hi, I see a wrong option before no? << --counter_opt "genome" >>

[2021-02-08 14:02] manburst commented on #93
Oh, I see. Just leave `counter_opt ""` right?
but I still don't get why `fast5` parameter detects only one fast5 file in my directory.
`"/home/jirachote/nonbarcoded/*.fast5"`
`Single fast5 file detect`

[2021-02-08 14:03] lucacozzuto commented on #93
single fast5 means that is containing only one sequence per file. Is this true?

[2021-02-08 14:11] manburst commented on #93
Yes, one read per file. In comment above that you suggests me to you use parameter `--fast5 "/home/jirachote/nonbarcoded/*.fast5"`. The pipeline run successfully with perfect result. But I repeat the step, the result fail because I check the fastq directory. The fastq file is empty.

[2021-02-08 14:12] lucacozzuto commented on #93
So you cannot mix single and multifast5 files. Are you mixing single and multi?

[2021-02-08 14:18] manburst commented on #93
I don't know am I understand your question right. But the problem is the input should be all fast5 file in my directory which is single read per file then they should be performed by basecaller then merge to multifast5 file.

[2021-02-08 14:21] lucacozzuto commented on #93
MoP can analyze in a single run only one kind of data: either fast5 files containing one sequence each or multi fast5 files containing 5000 sequences each.

[2021-02-08 14:23] manburst commented on #93
Got it thanks sir.

[2021-02-08 14:25] #93 closed, assigned to lucacozzuto

[2021-02-08 14:25] lucacozzuto commented on #93
you are welcome!

[2021-02-23 05:31] cccorreao1 commented on #77
Dear Alberto, Sascha, I am having the same issue, Did you find a way to resolve it? I have a RTX3070 GPU. Funny enough, I can GPU basecall with standalone guppy 4.4.1 but not with guppy 4.2.2, which is the version associated with minknow.
Any tricks?
Many Thanks,
Carolina

[2021-02-23 09:18] lucacozzuto commented on #77
Hi @cccorreao1 can you paste me the log of your error? Are you using a version of Guppy that is built for being used on a GPU?

[2021-02-25 02:51] cccorreao1 commented on #77
@lucacozzuto hi!
The issue was that the version of guppy (4.2.2 as per ONT instructions) I was using was not compiled for cuda11, which is the version my GPU is enabled. I got the correct guppy from a colleague and that resolved the issue.  Many thanks for following up :)

[2021-02-25 14:55] lucacozzuto commented on #77
You are welcome!

[2021-02-25 14:55] #77 closed, assigned to nobody

[2021-03-12 10:55] AhmedMohamed1993 opened #94 "unexpected BAM file is only 1KB with a successful run"
Hi,

This is my first time to work with ONT data. I used the nanopreprocess pipeline to analyze the fat5 files. However, the bam file shows up as 1KB only after completing the nanopreprocess with only one error as shown on the log below.
Also, the fast5.assigned is ZERO KB and the count file has no information 1KB and the fastq file is only one file around 1.5GB while the fast5 input was 170GB, Is

[2021-03-12 11:00] lucacozzuto commented on #94
Hi!
you are using our toy reference

[code]
you need to point to the genome / transcriptome for your species of interest.

Best,

Luca

[2021-03-12 11:12] AhmedMohamed1993 commented on #94
Hi,

Oh, I am working on mouse data so, I should add the parameter --ref_type "mm10" ? Is the reference genome built-in with the tool or I have to download the GTF file from Ensemble and refer to its location in the parameter argument ?
Thanks again and sorry for the stupid question.

[2021-03-18 09:16] lucacozzuto commented on #94
You have to provide a fasta file for a genome and a GTF annotation, or in case you want to use the transcriptome just the fasta of the transcriptome sequences.  You can choose either Gencode, Ensembl or UCSC.

[2021-03-30 13:37] #94 closed, assigned to lucacozzuto

[2021-04-06 13:35] koushikmuralidharan opened #95 "Zero Division Error"
Hello,
Hope you're doing well.
Was running the pipeline and ran into the following error. Other libraries seem to work fine.
Looked at a previous version of this error, and saw that the mopprepr version was at 0.6.
Any help would be fantastic!
-Koushik

╔╦╗┌─┐┌─┐┌┬┐┌─┐┬─┐  ┌─┐┌─┐  ╔═╗╔═╗╦═╗╔═╗╔═╗
║║║├─┤└─┐ │ ├┤ ├┬┘  │ │├┤   ╠═╝║ ║╠╦╝║╣ ╚═╗
╩ ╩┴ ┴└─┘ ┴ └─┘┴└─  └─┘└    ╩  ╚═╝╩╚═╚═╝╚═╝

=============

[2021-04-06 13:39] lucacozzuto commented on #95
Hi,
can you check if the bam file wt_20021.minimap2.sorted.bam is ok? I think a samtools stats will give us this info. Another thing is reference.fasta.gz containing the reference transcript or genomic sequences?

Luca

[2021-04-06 14:02] koushikmuralidharan commented on #95
reference.fasta.gz is transcript sequences from ensembl.
Summary Numbers from samtools stats below:

SN      raw total sequences:    939166
SN      filtered sequences:     0
SN      sequences:      939166
SN      is sorted:      1
SN      1st fragments:  939166
SN      last fragments: 0
SN      reads mapped:   939166
SN      reads mapped and paired:        0       # paired-end technology bit set +

[2021-04-06 14:05] lucacozzuto commented on #95
Ok. So which mopprepr version are you using? in the 0.6 you should have NanoCount v0.2.0 that fixed that error. Are you using docker or singularity?

[2021-04-06 14:08] koushikmuralidharan commented on #95
0.6, and I am using docker.

from nextflow.global.config:

   memory='12G'
  cache='lenient'
  container = 'biocorecrg/mopprepr:0.6'
  containerOptions = { workflow.containerEngine == "docker" ? '-u $(id -u):$(id -g)': null}
  withLabel: big_cpus {
        cpus = 8
        memory = '12G'

[2021-04-06 14:13] lucacozzuto commented on #95
Can you check the version of the tool in the docker image? If is 0.2.0 we should open a ticket with NanoCount

[2021-04-06 14:16] koushikmuralidharan commented on #95
Within the docker image, it says 0.6.

ubuntu@ip-172-31-79-195:/efs/master_of_pores$ docker image ls
REPOSITORY               TAG       IMAGE ID       CREATED         SIZE
hello-world              latest    d1165f221234   4 weeks ago     13.3kB
biocorecrg/mopprepr      0.6       193066e4aae3   11 months ago   6.01GB
biocorecrg/mopbasecall   0.1       bb72653c6b98   16 months ago   1.15GB

[2021-04-06 15:48] koushikmuralidharan commented on #95
Hi, got counts by running NanoCount separately. Not sure exactly what the error was, but we only saw it in this one library. Thank you for your help though.

One unrelated question: can we still run Nanomod on the output folder as long as the folder contains the fast5 and bam files? And can NanoMod be accelerated by GPU?

[2021-04-06 16:18] lucacozzuto commented on #95
Hi, NanoMod also need another file generated using the output of NanoCount. It generates the *.assigned file.
So what you need is to generate it by using this code replacing idfile with the id you are using.
[code]

We are currently developing a new faster NanoMod. So we hope to have some major upgrade during this year.

PS: about the version of NanoCount in the docker you can check it by running

[2021-04-06 16:24] koushikmuralidharan commented on #95
Got it, will run the first block and keep you posted.
We got 0.2.0, still not sure what the error was.
I think we used 0.2.4.
-Koushik

[2021-04-24 00:13] chad388 opened #96 "Error during NanoPreprocess step"
Hi,

I am encountering an error when I attempt to run the NanoPreprocess step.

We are required to install any software that we run on our system within a docker container. We are unable to install any software directly on the filesystem.

I followed the installation process described here (https://biocorecrg.github.io/master_of_pores/install.html) and installed all required software into a docker

[2021-05-31 20:35] Maheen94 opened #97 "Counts feature error during Nanopreprocess run"
Hi,
I'm using master of pores for RNA seq data analysis. I used reference and annotation files from Gencode. However, I get the following error consistently at the counts step. Would really appreciate any assistance.
Thanks!!

Maheen

<img width="1192" alt="Screen Shot 2021-05-31 at 4 30 52 PM" src="https://user-images.githubusercontent.com/83305852/120240307-41040a00-c22e-11eb-894e-047678377b32.p

[2021-06-01 08:46] lucacozzuto commented on #97
Hi,
it seems the file is not accessible. Can you reach the working folder indicated and check wether the link to the annotation file is working?

Luca

[2021-06-01 11:43] Maheen94 commented on #97
Hi,

So, I uploaded the ref genome (fasta) and cooresponding annotation file (GTF) from Gencode using following commands in anno folder:

wget http://ftp.ebi.ac.uk/pub/databases/gencode/Gencode_human/release_38/GRCh38.p13.genome.fa.gz
wget http://ftp.ebi.ac.uk/pub/databases/gencode/Gencode_human/release_38/gencode.v38.chr_patch_hapl_scaff.annotation.gtf.gz

The alignment works fine but its specifi

[2021-06-01 11:49] lucacozzuto commented on #97
Mmm... Can you try unzipping the GTF file before?
I'll double-check if this is a bug.
Thanks for letting me know!

[2021-06-01 11:52] Maheen94 commented on #97
Sure, will try unzipping the file first. Will keep you updated.

[2021-06-01 12:34] Maheen94 commented on #97
Tried rerunning it with unzipped file but ran into the same error:

Also, it says "Error occurred when processing GFF file". I always use GTF format and didn't run into issues. I'm wondering if I should use GFF3 format instead?

Command exit status:
  1

**Command output:
  (empty)

Command error:
  WARNING: Your kernel does not support swap limit capabilities or the cgroup is not mounted. Memory

[2021-06-01 12:48] lucacozzuto commented on #97
Well no. That process is using htseq-count that is able to read gtf files. So I don't understand why you have this error. But again I see a "file not found". So can you go to that temporary folder and try to see if the link is ok?

[2021-06-01 13:29] Maheen94 commented on #97
The link is actually ok. Just double checked it

[2021-06-01 13:32] lucacozzuto commented on #97
Ok. So you can run that command just by doing
[code]

the name of the image can be retrieved by doing a

```grep singu .command.run```

[2021-06-01 16:41] Maheen94 commented on #97
Command 'singularity' not found, but can be installed with:

I'm using docker,
I normally start my pipeline with the following command:
nextflow run nanopreprocess.nf -with-docker

[2021-06-01 16:44] lucacozzuto commented on #97
Aha. Well, maybe there is a problem with the mounting of volumes and docker. So grep docker inside the .command.run you will find the command to use.

[2021-06-02 12:36] Maheen94 commented on #97
Hi,
So, I changed some parameters of params.config.
Previous: ref_type "genome" (theoretically this makes sense since I'm using genome ref)
Changed: ref_type "transcriptome" (It ran smoothly on this setting even though I used the same ref genome uploaded in the anno folder using the wget command)

[2021-08-19 09:17] #66 closed, assigned to nobody

[2021-08-19 09:19] #79 closed, assigned to lucacozzuto, ADelgadoT

[2021-08-19 09:20] #82 closed, assigned to nobody

[2021-08-19 09:20] #84 closed, assigned to nobody

[2021-08-19 09:21] #95 closed, assigned to lucacozzuto

[2021-08-19 09:24] lucacozzuto commented on #96
Dear Chad, you don't need to install any tool in any docker container. We already have docker containers with everything installed. So, you should just install singularity or docker and nextflow.

[2021-08-26 10:01] lucacozzuto commented on #97
Ouch. Can you send me a single fast5 file for trying?

[2021-08-26 10:21] lucacozzuto commented on #97
my email il luca.cozzuto /at/ crg . eu

[2021-08-26 10:43] ash-kh commented on #97
Thanks for the super quick response!

I tried it with the test data provided as well and get the same error.

Best,
Ashkan

[2021-08-26 10:47] lucacozzuto commented on #97
Hi, the test dataset is transcriptome. So, it won't use htseq-count (that needs the GTF annotation). If you have a single fast5 file and tell me which genome and annotation is, I'll give it a try and debug

[2021-08-26 12:07] ash-kh commented on #97
I sent you a mail

[2021-09-02 07:36] AnunayS opened #102 "Nanomod after Nanoporprocess_simple runs with no modules except "index_reference""
I ran nanopreprocess_simple with 4 RNA fastq.gz files.

the output folders are named as nanopreprocess-0B,nanopreprocess-0T,nanopreprocess-3B,nanopreprocess-3T and saved in path <Desktop/Anunay/>.

**Now when I am running nanomod, the script runs completely withinh 30 seconds with following output:**

*****************   Input files    *******************
input_path                              :

[2021-09-03 12:30] lucacozzuto commented on #102
Hi,
the problem is that you miss the basecalled fast5 files. NanoMod works with the output of NanoPreprocess. The comparison file is fine if they are tab separated. Please look at the documentation of NanoMod

Luca

[2021-09-11 05:19] #102 closed, assigned to lucacozzuto

[2021-10-14 13:54] #96 closed, assigned to nobody

[2021-10-14 13:55] #78 closed, assigned to lucacozzuto

[2021-10-14 13:55] lucacozzuto commented on #67
For future version

[2021-10-14 13:55] #67 closed, assigned to nobody

[2021-10-14 13:56] lucacozzuto commented on #57
This will be solved in the DSL2 version (soon)

[2021-10-14 13:56] #57 closed, assigned to nobody

[2021-10-14 13:56] #47 closed, assigned to lucacozzuto

[2021-10-14 13:57] #25 closed, assigned to lucacozzuto, ADelgadoT

[2021-10-14 14:06] ADelgadoT commented on #89
Hi Stan,

Sorry for the late reply. We have not used the` tombo detect_modifications alternative_model` with the `--alternate-bases 5mC 6mA` inside MoP. However, NanoMod could be modified to run Tombo in this mode. If you are successful, we would be happy to submit the pull-request.

Thanks!

Anna

[2021-11-18 05:03] amol007-123 opened #105 "Guppy"

[2021-11-18 05:10] amol007-123 opened #106 "Guppy_basecaller issue"
Hello,
        I'm trying to perform PoreCov pipeline but i having a error regrading Guppy_basecaller. the error is following

Command error:
  [guppy/error] *common::LoadModuleFromFatbin: Loading fatbin file shared.fatbin failed with: CUDA error at /builds/ofan/ont_core_cpp/ont_core/common/cuda_common.cpp:54: CUDA_ERROR_NO_BINARY_FOR_GPU

  .command.sh: line 2:    30 Segmentation fault      (core

[2021-11-18 09:57] lucacozzuto commented on #105
I imagine is an error

[2021-11-18 09:57] #105 closed, assigned to nobody

[2021-11-18 10:03] lucacozzuto commented on #106
Hi, I think this is not the right repo :)

[2021-11-18 10:03] #106 closed, assigned to nobody

[2021-11-18 10:07] amol007-123 commented on #105
can you give me the solution regrading it

[2021-11-18 14:16] lucacozzuto commented on #105
Try asking here:
https://github.com/replikation/poreCov

[2021-12-01 15:54] xguse opened #107 "Copying ami-0bf3a9a6cb7a5ea9f to US-East Virginia?"
So I need to operate in us-east-1. From there I cant "see" `ami-0bf3a9a6cb7a5ea9f` in the searches. I CAN see it if I change to eu-central-1.

when I try to copy the AMI to my region it says that i dont have permissions to access the AMI's storage. I am not sure if that is a permission set on my group's side of things or specific to the AMI's settings.

If I can't copy it to my region, how do you

[2021-12-01 16:52] toniher commented on #107
Hi @xguse, underlying EBS snapshot was not shared (https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ebs-modifying-snapshot-permissions.html). Could you test now and let us know?

[2021-12-01 20:09] #107 closed, assigned to toniher

[2021-12-01 22:00] xguse opened #108 "terraform: I have existing vpc/security group values that I want this instance to use"
Can someone point me in a good direction to learn how to simply have these values be used rather than what the default `security.tf` file seems to do which is create these with values specified?

We have gone to great lengths to make sure that we have consistent and safe settings on our infrastructure and I would rather use our values than create new ones.

Is this possible?

[2021-12-02 13:35] lucacozzuto commented on #108
Well, we are not expert of terraform. @toniher has some experience but I think it will be good to ask to other people. Maybe it can be useful for us too :)

[2021-12-02 13:47] #108 closed, assigned to toniher

[2021-12-03 16:55] xguse opened #109 "help interpreting why logBaseCalling might be failing"
I am sorry to bother you all but I can't quite figure out what is going on here.

As far as I can tell `WARNING: Your kernel does not support swap limit capabilities or the cgroup is not mounted. Memory limited without swap.` should not be fatal should it? Where am I going wrong here?

[code]

[2021-12-03 16:59] lucacozzuto commented on #109
Can you post your params.config file? You have a lot of null. And which version of guppy are you using?

[2021-12-03 17:17] xguse commented on #109
[code]

and I ran this to install guppy

[code]

[2021-12-03 17:22] lucacozzuto commented on #109
Well this is strange. It is failing the log. Can you go within
[code]
and check the .command.log?
PS: instead of null can you put ""?

Thanks

[2021-12-03 17:32] xguse commented on #109
Here is whats in `.command.log`

[code]

I used this params and got the same issue:

[code]

[2021-12-03 17:38] lucacozzuto commented on #109
the command executed is
[code]
you can see that the second part is not done. I'm wondering if something is wrong with that.

Have you tried our test dataset? Does it work?

[2021-12-06 16:54] xguse commented on #109
OK so I had made some changes to the repo regarding supplying my own configs instead of using the in-directory `params.config` etc so I stashed all my stuff and went back to tag `v1.1: cc554e9` and tried just running what y'all show in your docs `nextflow run nanopreprocess.nf -with-singularity`

I get the error in the same place...?

[code]

[2021-12-06 22:05] xguse commented on #109
OK I have a hypothesis.

Here is what I get when I have `guppy_basecaller` print its workflows and my combination of flowcell and kit do not exist in this output. This would cause nothing to be printed on the second line of the `logBaseCalling` script no?

Might this cause an error?

Also I have corrected my flowcell value. Turns out thats not flowcell ID like I figured it would mean, but TYPE, wh

[2021-12-06 23:06] lucacozzuto commented on #109
I see. Which version of singularity are you using?

[2021-12-07 15:57] xguse commented on #109
@lucacozzuto

The problem isnt singularity. I plan on using Docker. Thats just why I thought that your demo failed at first. But when I switched to `-with-docker` it ran flawlessly. Thats when I started looking at what `guppy_basecaller --print_workflows` was presenting to the `grep` calls. It turns out that I am using a combination of `flowcell_type` and `kit` that the version of guppy provided i

[2021-12-07 15:58] #109 closed, assigned to nobody

[2022-03-21 16:29] lucacozzuto commented on #97
Hi, it looks like htseq has a problem with some long-read mappers. We fix this in the version of master of pores:

https://github.com/biocorecrg/MOP2

[2022-03-21 16:29] #97 closed, assigned to lucacozzuto

[2022-03-21 16:30] #89 closed, assigned to ADelgadoT

[2022-03-21 16:30] lucacozzuto commented on #72
Fixed in mop2

[2022-03-21 16:30] #72 closed, assigned to lucacozzuto

[2022-03-29 19:22] rober136 opened #112 "NanoPreProcess is successfully running but it's not giving me a clear output?"
I've been messing around with the MoP pipeline to get it running on a SLURM cluster, and have just gotten it to work. Problem is, it's not giving me an output where I told it to. Here is the parameters I have set up in the nanopreprocess.nf file:

`kit                       : SQK-LSK112
flowcell                  : FLO-MIN107
fast5                     : /home/rober136/scratch/WhyardData/NextFlow/Mo

[2022-03-30 03:44] #112 closed, assigned to nobody

[2022-03-30 03:44] rober136 commented on #112
Closing the issue. I see that this version of MoP is depreciated and am now looking into MoP2.